<h2>Please add your desired events below:</h2>

<a href="/">Home</a>
<br />

<form action="/events_form">
  <p>
  Event Name:
  <br />
  <input type="text" name="event_name" required>
  </p>
  
  <p>
  Standing Time Record (in seconds):
  <br />
  <input type="number" step="any" name="event_best_time" required>
  </p>
  <p>
  <input type="submit" value="Add Event">
  </p>
</form>

<p>
Then:
<br />
<a href="/add_conferences">Add Conferences</a>
</p>

<br />
<h3>Added Events:</h3>
<table border="1">
  <thead>
    <tr>
      <th> Event </th>
      <th> Current Record (sec.) </th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><center><%= event.event_best_time %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>