<h2>Add All That Team Info Below</h2>
<a href="/">Home</a>
<br />
<a href="/add_conferences">Go To Add Conferences</a>
<br />
<a href="/add_events">Go To Add Events</a>
<br />
<a href="/add_swimmers">Go To Add Swimmers</a>
<br />

<form action="/teams_form">
  <p>
  Team Name:
  <input type="text" name="team_to_add">
  </p>
  <p>
  Conference:
  <br />
  <!--I need the values and visible names of these radio options to be drawn from the conference names collected previously-->
  <% Conference.all.each do |conference| %>

  <input type="radio" name="select_conference" value="<%= conference.id %>" checked> <%= conference.conference_name %><br />

  <% end %>

  </p>
  <input type="submit" value="Add Team">
  </p>
</form>

<br />
<h3>Added Teams:</h3>
<table border="1">
  <thead>
    <tr>
      <th> Team </th>
      <th> Conference </th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><center><%= team.team_conference %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>