<h2>Sign Up Them Swimmers</h2>
<a href="/">Home</a>
<br />
<a href="/add_events">Go To Add Events</a>
<br />
<a href="/add_teams">Go To Add Teams</a>
<br />

<!--Create a form to collect the swimmer name (text collect), gender (radio), school (dropdown), desired events (checkbox), payment status (radio)-->
