<h2>Add All That Team Info Below</h2>
<a href="/">Home</a>
<br />

<form action="/teams_form">
  <p>
  Team Name:
  <input type="text" name="team_to_add">
  </p>
  <p>
  Conference:
  <br />
  <input type="radio" name="conference_to_add" value="Evil" checked> Evil<br />
  <input type="radio" name="conference_to_add" value="Not-So-Evil"> Not-As-Evil<br />
  </p>
  <p>
  Team Member Count:
  <select name="team_member_to_add">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  </select>
  </p>
  <p>
  <input type="submit" value="Add Team">
  </p>
</form>

<br />
<h3>Added Teams:</h3>
<table border="1">
  <thead>
    <tr>
      <th> Team </th>
      <th> Conference </th>
      <th> Member Count </th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><center><%= team.conference %></center></td>
        <td><center><%= team.team_member_count %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>