<h2>Go Ahead and Add the Conferences Below</h2>

<a href="/">Home</a>
<br />
<a href="/add_events">Back</a>
<br />

<form action="/conferences_form" method="post">
  <p>
  Conference Name:
  <br />
  <input type="text" name="conference_name" required>
  </p>
  <p>
  <input type="submit" value="Add Conference">
  </p>
</form>

<p>
Then:
<br />
<a href="/add_teams">Add Teams</a>
</p>

<br />
<h3>Added Conferences:</h3>
<table border="1">
  <thead>
    <tr>
      <th> Name </th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.conference_name %></td>
        <td><center><a href="/delete_conference/<%= conference.id %>"> delete
        </a></center></td>
        <td><center><a href="/update_conference/<%= conference.id %>"> update
        </a></center></td>
      </tr>
    <% end %>
  </tbody>
</table>