<h2>Add All That Team Info Below</h2>
<a href="/">Home</a>
<br />

<form action="/teams_form">
  <p>
  Team Name:
  <br />
  <input type="text" name="team_name" required>
  </p>
  
  <p>
  Conference:
  <br />
    <% Conference.all.each do |conference| %>
      <input type="radio" name="select_conference" value="<%= conference.id %>" checked required> 
      <%= conference.conference_name %>
      <br />
    <% end %>
  </p>

  <p>
  <input type="submit" value="Add Team">
  </p>
</form>

<p>
Then:
<br />
<a href="/add_swimmers">Add Swimmers</a>
</p>

<br />
<h3>Added Teams:</h3>
<table border="1">
  <thead>
    <tr>
      <th> Team </th>
      <th> Conference </th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><center><%= team.team_conference %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>