<h1>Welcome Contestants!</h1>

<form action = "/competitors">
  <p>
    First Name: <input type = "text" name = "fname">
  </p>

  <p>
    Last Name: <input type = "text" name = "lname">
  </p>

  <p>
    School_id: <input type = "number" name = "school">
  </p>
  <input type = "submit">
</form>

<form action = "/conferences">
  <p>
    Conference: <input type = "text" name = "conf">
  </p>
  <input type = "submit">
</form>

<form action = "/events">
  <p>
    Event: <input type = "text" name = "event">
  </p>

  <p>
    First: <input type = "text" name = "first">
  </p>

  <p>
    Second: <input type = "text" name = "second">
  </p>

  <p>
    Third: <input type = "text" name = "third">
  </p>
  <input type = "submit">
</form>

<form action = "/results">
  <p>
    Event_id: <input type = "number" name = "event_id">
  </p>

  <p>
    Competitor: <input type = "number" name = "comp_id">
  </p>

  <p>
    Time: <input type = "text" name = "time">
  </p>
  <input type = "submit">
</form>

<form action = "/schools">
  <p>
    School: <input type = "text" name = "school">
  </p>

  <p>
    Conference_id: <input type = "number" name = "conf_id">
  </p>
  <input type = "submit">
</form>


<ul>
  <li><a href = "/competitors">Competitors</a></li>
  <li><a href = "/conferences">Conferences</a></li>
  <li><a href = "/events">Events</a></li>
  <li><a href = "/results">Results</a></li>
  <li><a href = "/schools">Schools</a></li>
</ul>
