Here are the results for each event:


<p>
<% @results.each do |r| %>
  In event with id # <%= r.event_id %>,
  competitor with id # <%= r.competitor_id %>
  finished in <%= r.final_time %> seconds.<br>
<% end %>
</p>