<center>
<h1>Hello admin! Welcome to your swim meet database.</h1>
<br>
<h2>View all:</h2>
<a href="/competitors">Competitors</a> |
<a href="/events">Events</a> |
<a href="/results">Results</a> |
<a href="/conferences">Conferences</a> |
<a href="/schools">Schools</a> |
<a href="/styles">Styles</a><br>
<br>
<br>

<h2>Add:</h2>
<a href="/add/competitor_form_add">Competitor</a> |
<a href="/add/event_form_add">Event</a> |
<a href="/add/result_form_add">Result</a> |
<a href="/add/conference_form_add">Conference</a> |
<a href="/add/school_form_add">School</a> |
<a href="/add/style_form_add">Style</a><br>
<br>
<br>
</center>