<center><h1>Swim Competition Sign-Up</h1></center>

<!--Link to page to form for admin to enter events to the database -->
<a href="/add_events">Add Events</a>
<br />
<!--Link to page to form for admin to add conferences-->
<a href="/add_conferences">Add Conferences</a>
<br />
<!--Link to page to form for admin to add schools and select conference-->
<a href="/add_teams">Add Teams</a>
<br />
<!--Link to page to form for admin to add swimmers-->
<a href="/add_swimmers">Add Swimmers</a>
<!--Link to page to form for admin to log event results-->