<h1>Hello, and welcome to our swimming competition.</h1>

<p>Please enter your personal information here:</p>

 <form action="">
  First name:<br>
  <input type="text" name="firstname" value=""><br>
  Last name:<br>
  <input type="text" name="lastname" value=""><br><br>
  <input type="submit" value="Submit">
</form> 