<a href="/">home</a>

<h1>All Schools</h1>


<!--
<ul>
<% @schools.each do |s| %>
    <li>
    <a href="list/schools_list/<%=school_id %>"><%= s %></a> - 
    <a href="/delete_school/<%=school_id %>">Delete</a>
    <li>
<% end %>
</ul>
-->