display swimmer's university | conference| events registered

<p>Swimmer's Information</p>


<table border="1">
  <thead>
    <tr>
      <th>Competitor's Name</th>
      <th>University</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @swimmer.swimmer_name %></td>
        <td><%= @swimmer.university %></td>
      </tr>
  </tbody>
</table>
