<a href="/">home</a>

<h1>All Results</h1>

<% @results.each do |r| %>
  <%= r.signup_id.event %>
<% end %>

<table style="width:50%" border=1>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
</table>