<h1>code for event name</h1>

<table border="1" style="width:50%">
  <tr>
    <td>Competitor</td>
    <td>School</td>
    <td>Time</td>
    <td>Place</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <form>
        <input type="integer" name="time">
      </form>
    </td>
    <td></td>
  </tr>
</table>