<a href="/">home</a>
<h1>Step 1: Find the event</h1>

<form action="/create_result/event">
  <fieldset>
    <legend>Find Event:</legend>

    <select type="number" name="event">
      <% @events.each do |e| %>
      <option value="<%= e.id %>"><%= e.event_name %></option>
      <% end %>
    </select>

    <input type="submit">

  </fieldset>

</form>