<a href="/">home</a>
<h1>Create a Single Result</h1>

<form action="/create_result/success">
  <fieldset>
    <legend>Create Result:</legend> 
    <input type="number" name="signup_id">
    <input type="integer" name="time">
    <input type="submit">
  </fieldset>
</form>
