<h1><%= @signups.event %></h1>

<table border="1" style="width:50%">
  <tr>
    <td>Competitor</td>
    <td>School</td>
    <td>Time</td>
    <td>Place</td>
  </tr>

  <% @signups.each do |c| %>
  <tr>
    <td><%= c.competitor_id. %></td>
    <td></td>
    <td>
      <form>
        <input type="integer" name="time">
      </form>
    </td>
    <td></td>
  </tr>
  <% end %>
</table>




