<h1>create a new result</h1>

<form action="/result/success">
  Signup ID:
  <br>
  <input type="integer" name="signup_id">
  <br><br>
  Time in Seconds:
  <br>
  <input type="float" name="time">
  <input type="submit">
</form>




