<h1>NO CAN DO</h1>
<h2>Sorry, kitties are already registered for this event, and we would hate to disappoint them.</h2>

If you really, really need to remove this event from the tournament,
you may return to the <a href="/events">Events Page</a> and remove all participants first.