<h1>Events</h1>
<h2>Tournament Events:<h2>

<form action="/createevent">
  <fieldset>
  <legend>Create New Event</legend>
  <label for="new_event">Event Name</label>
  <input type="text" name="neweventname">
  <input type="submit">
  </fieldset>
</form>