<h1>Sorry!</h1>

<h2>This page will not be available until <%= @currentevent.event_name %> is complete and all kitties have scores!</h2>

Please return to the <a href="/finishes">Input Event Times</a> Page and enter the scores for all kitties. Thank you!