<h1>Events</h1>
<h2>Tournament Events:<h2>
<ul>
  <% @events.each do |post| %>
    <li><%= post.id%>. <%=post.event_name%>
    <a href="/view_event/<%=post.id%>">see more</a></li>
  <% end %>
</ul>

<form action="/newevent" method="post">
  <fieldset>
  <legend>Create New Event</legend>
  <label for="new_event">Event Name</label>
  <input type="text" name="neweventname">
  <input type="submit">
  </fieldset>
</form>


<a href="/">Home</a>