<h1>Events</h1>
<h2>Tournament Events:<h2>
<ul>
  <% @events.each do |post| %>
    <li><%= post.id%>. <%=post.event_name%></li>
  <% end %>
</ul>

<form action="/newevent">
  <fieldset>
  <legend>Create New Event</legend>
  <label for="new_event">Event Name</label>
  <input type="text" name="neweventname">
  <input type="submit">
  </fieldset>
</form>