<h1><%= @currentevent.event_name %></h1>

<ul>
  <% @winners.each do |place| %>
    <li>
    <%=place.places%>////
    <%=place.find_swimmer%>////
    (<%=place.find_time%>) 
  <% end %>
</ul> 

Congratulations, Kitties!

<a href="/">Home</a>