<h1>Tournament Admin: Winners!</h1>
<h2>Choose an Event to View Winners<h2>

<h2>Tournament Events:<h2>
<ul>
  <% @events.each do |post| %>
    <li><%=post.event_name%>
    <a href="/find_winner/<%=post.id%>"> VIEW WINNERS </a>
  <% end %>
</ul>

<a href="/">Home</a>