<p>Current Results</p>
<% @results.each do |y| %>
  <p> 
    <%= y.id %>.
    Swimmer ID <%= y.swimmer_id %> - 
    Event ID <%= y.event_id %>  
    Recorded Time: <%= y.swimmer_time %>
  <p>
<% end %>

<a href="/">Return Home</a>