<p>Current List of Events</p>


<table border="1">
  <thead>
    <tr>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |y| %>
      <tr>
        <td> <%= y.event_name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>