<p>Current Results</p>

<table border="1">
  <thead>
    <tr>
      <th>Swimmer</th>
      <th>Event</th>
      <th>Swimmer's Time for Event</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |y| %>
      <tr>
        <td><%= y.swimmer %></td>
        <td><%= y.event %></td>
        <td><%= y.swimmer_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>