<p>Current Universities</p>


<table border="1">
  <thead>
    <tr>
      <th>University</th>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |y| %>
      <tr>
        <td> <%= y.university_name %> </td>
        <td> <%= y.conference_id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>