Event that haven't gone yet.

<table border="1">
  <thead>
    <tr>
      <th>Event Name</th>
    </tr>
  </thead>

  <tbody>
    <% @registered_events.each do |y| %>
      <tr>
        <td><a href="add_times/<%= y.event_id %>"> <%= y.event %> </td>
        <td> <%= y.conference %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>