<h1> Upcoming Events</h1>

<p> These are the events where there are swimmers that are registered but don't have times. <br>
Click on an event to add the results of the event. </p>

<table border="1">
  <thead>
    <tr>
      <th>Event Name</th>
    </tr>
  </thead>

  <tbody>
    <% @registered_events.each do |y| %>
      <tr>
        <td><a href="add_times/<%= y.event_id %>"> <%= y.event %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>