<a href="/">home</a>

<h1>All Competitors</h1>

<table style="width:50%" border="1">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>School</td>
  </tr>
  <% @competitors.each do |c| %>
  <tr>
    <td><%= c.id %></td>
    <td><%= c.competitor_name %></td>
    <td><%= c.school_id %></td>
  </tr>
  <% end %>
</table>