<a href="/">home</a>
<br>
<a href="/competitors">back to competitors</a>
<h1>Create a new Competitor</h1>

<ul>
<% @schools.each do |s| %>
  <li><%= s.id %> - <%= s.school_name %></li>
<% end %>
</ul>

<form action="/create_competitor/success">
  <fieldset>
    <legend>Competitor Information:</legend>
    Name:<br>
    <input type="text" name="competitor_entered"><br>
    School:<br>
    <input type="number" name="school">
    <input type="submit">
  </fieldset>
</form>