<a href="/">home</a>
<br>
<a href="/competitors">back to competitors</a>
<br>

<form action="/edit_competitor/success/<%= @competitor.id %>">
  <fieldset>
    <legend>Edit Competitor Information:</legend>
    Name:<br>
    <input type="text" name="competitor" value="<%= @competitor.competitor_name %>"><br>
    School:<br>
    <input type="number" name="school" value="<%= @competitor.school_id %>">
    <input type="submit">
  </fieldset>
</form>