<a href="/competitors">back to competitors</a>

<h1>View Competitor</h1>

<table style="width:50%" border="1">
  <tr>
    <td>Name</td>
    <td>School</td>
    <td>Conference</td>
  </tr>
  <tr>
    <td><%= @competitor.competitor_name %></td>
    <td>School</td>
    <td>Conference</td>
  </tr>
</table>