<a href="/competitors">back to competitors</a>

<h1>View Competitor</h1>

<table style="width:50%" border="1">
  <tr>
    <td>Name</td>
    <td>School</td>
    <td>Conference</td>
  </tr>
  <tr>
    <td><%= @competitor.competitor_name %></td>
    <td><a href="/view_school/<%= @competitor.school_id %>"><%= @competitor.school_name %></a></td>
    <td><%= @competitor.conf_name.conference_name %></td>
  </tr>
</table>

<br>

<table style="width:50%" border="1">
  <tr>
    <td>Events</td>
    <td>Time</td>
    <td>Place Finished</td>
  </tr>
  <tr>
    <td>Events</td>
    <td>Time</td>
    <td>Place Finished</td>
  </tr>
</table>