<a href="/">home</a>
<br>
<a href="/events">back to events</a>
<h1>Event Registration</h1>

<form action="/signup_successful">
  <fieldset>
    <legend>Register for Events:</legend>

    <select type="number" name="event">
      <% @events.each do |e| %>
      <option value="<%= e.id %>"><%= e.event_name %></option>
      <% end %>
    </select>

    <select type="number" name="competitor">
      <% @competitors.each do |c| %>
      <option value="<%= c.id %>"><%= c.competitor_name %></option>
      <% end %> 
    </select>

    <input type="submit">

  </fieldset>
</form>