<a href="/">home</a>
<h1>Event Registration</h1>

<form action="/signup_successful">
  <fieldset>
    <legend>Register for Events:</legend>
    Event:<br>
    <input type="number" name="event"><br>
    Name:<br>
    <input type="number" name="competitor">
    <input type="submit">
  </fieldset>
</form>