<h1>Add Activity:</h1>

<h2>Please enter the activity information:</h2><br>
<form action="/activity/create">

Activity Name:<br>
<input type="text" name="activity_name"><br>
Maximum Score Possible for Activity<br>
<input type="number" name="activity_max_possible_score"><br>
<input type="submit">
</form></p>