<h1>Add College:</h1>

<h2>Please enter the College information:</h2><br>

<p>
  <form action="/college/create">
    College Name:<br>
    <input type="text" name="college_name"><br>
    Conference ID:<br>
    <select name="conference_id">
      <% @conferences.each do |c| %>
        <option value="<%= c.id %>"> <%= c.conference_name %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
  </p>