<h1>Add College:</h1>

<h2>Please enter the College information:</h2><br>
<form action="/college/create">

College Name:<br>
<input type="text" name="college_name"><br>
Conference ID:<br>
<input type="number" name="conference_id"><br>
<input type="submit">
</form></p>