<h1>Add Student:</h1>

<h2>Please enter the student information:</h2><br>
<form action="/student/create">

Student First Name:<br>
<input type="text" name="student_first_name"><br>
Student Last Name:<br>
<input type="text" name="student_last_name"><br>
Student Age:<br>
<input type="number" name="student_age"><br>
Student College_ID:<br>
<input type="number" name="student_age"><br>
<input type="submit">
</form></p>