<h1>Add Result:</h1>

<h2>Please enter the result:</h2><br>
<form action="/result/create">

Student_ID:<br>
<input type="number" name="student_id"><br>
Activity_ID:<br>
<input type="number" name="activity_id"><br>
Score:<br>
<input type="number" name="student_score"><br>
<input type="submit">
</form></p>