<a href="/">home</a>
<h1>Welcome to Admin Center</h1>
<ul>
  <li><a href="/admin/conferences">Conferences</a></li>
  <li><a href="/admin/schools">Schools</a></li>
  <li><a href="/admin/events">Events</a></li>
  <li><a href="/admin/runners">Runners</a></li>
  <li><a href="/admin/registrations">Registrations</a></li>
  <li><a href="/admin/results">Results</a></li>
</ul>