<h1> Debate Meetup Admin Tools </h1>

<a href="/admin/amd_competitor">Add/Modify/Delete Competitor</a><br>
<a href="/admin/amd_college">Add/Modify/Delete College</a><br>
<a href="/admin/amd_conference">Add/Modify/Delete Conference</a><br>
<a href="/admin/amd_activity">Add/Modify/Delete Activity</a><br>
<a href="/admin/amd_result">Add/Modify/Delete Competitor Score</a>