<h1> ADMIN PAGE </h1>

<a href="/gender_form">Gender Form</a>

<br>

<a href="/swimmer_info_form">Swimmers Info Form</a>

<br>

<a href="/sign_up_form/new">Sign Up / Results Form</a>


<p><a href="conference_form/new">Conference</a></p>

<br>

<a href="/event_form/new">Event Form</a>

<br>

<a href="/swimmer_info_table">Swimmers Information</a>

<br>

<a href="/gender_table">Gender Information</a>

<br>
<a href="/sign_up_table">Sign Up / Compitition Results</a>

<br>
<a href="/event_table">Event Table</a>
