<h1> ADMIN PAGE </h1>

<br>
<a href="/swimmer_info_form/new">Swimmers Info Form</a>
<br>
<a href="/sign_up_form/new">Sign Up / Results Form</a>
<br>
<a href="conference_form/new">Conference</a>
<br>
<a href="/event_form/new">Event Form</a>
<br>
<a href="/team_form/new">Team Form</a>
<br>
<p>
<a href="/sign_up_table">Spring Swimming Tournament</a>
<br>
<a href="/swimmer_info_table">Swimmers Information</a>
<br>
<a href="/event_table">Event Table</a>
<br>
<a href="/conference_table">Conference Table</a>
<br>
<a href="/team_table">Team Table</a>
</p>
<a href="/event/butterfly">Butterfly Event</a>

<a href="/top_three">Top Three</a>