<center><h1> Add/Modify/Delete Competitor</center></h1>

<h2>Add Competitor:</h2>
<form action="">
  First name:&emsp;<input type="text" name="first_name" value=""><br>    
  Last name:&emsp;<input type="text" name="last_name" value=""><br><br>
  <input type="submit" value="Add">
</form>
<br><br<>
<h2>Update Competitor Name:</h2>
<p>Please select the competor and then include the changes <br>
you would like to make in the text fields below. Then, click "submit."<br></p>
<form action="">
<select name="cars">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
First name:&emsp;<input type="text" name="modify_first_name" value=""><br>    
Last name:&emsp;<input type="text" name="modify_last_name" value=""><br><br>
<input type="submit" value="Update">
</form>

<br><br>

<h2>Remove Competitor:</h2>
<form action="">
  <select name="cars">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>

<center><a href="/admin/admin_overview">Admin</a> | <a href="/">Home</a></center> 