<h1>Success!</h1>

<h2><%= @confirm_message %></h2>

<p>Wand to add more?

<br><a href="/add/student">Student Competitor</a>
<br><a href="/add/college">College</a>
<br><a href="/add/conference">Conference</a>
<br><a href="/add/activity">Activity</a>
<br><a href="/add/result">Result</a>

</p>