<h1>Success!</h1>

<h2><%= @confirm_message %></h2>

<p>Want to add more?

<br><a href="/add/student">Student Competitor</a>
<br><a href="/add/college">College</a>
<br><a href="/add/conference">Conference</a>
<br><a href="/add/activity">Activity</a>
<br><a href="/add/result">Result</a>

</p>
<p>View Debate Tournament Details:

<br><a href="/read/students">View All Student Competitors</a>
<br><a href="/read/activities">View All Activities</a>
<br><a href="/read/results">View All Results</a>

<br><a href="/read/colleges">View All Colleges</a>
<br><a href="/read/conferences">View All Conferences</a>
</p>

</p>