

<h2>List of Colleges:</h2>


 <% @colleges.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.college_name %></td>
        <td><%= c.conference_id %></td>
        <% end %>
        </tr>