<h2><%=@activity.event_name%></h2>

      
<table border="1">
  <thead>
    <tr>
      <th>Registered Students</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td><%= r.access_student.first_name %> <%= r.access_student.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>