<h2>List of Activities:</h2>

      
<table border="1">
  <thead>
    <tr>
      <th>Activity ID</th>
      <th>Activity Name</th>
      <th>Maximum Possible Score for Activity</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.event_name %></td>
        <td><%= a.max_possible_score_for_activity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

