<h1>Welcome!</h1>
<h2>Let's create a Debate Tournament</h2>

<p>What do you want to add?

<br><a href="/add/student">Student Competitor</a>
<br><a href="/add/college">College</a>
<br><a href="/add/conference">Conference</a>
<br><a href="/add/activity">Activity</a>
<br><a href="/add/result">Result</a>
<br>
<br>
<br><a href="/read/students">View All Student Competitors</a>
<br><a href="/read/colleges">View All Colleges</a>
<br><a href="/read/conferences">View All Conferences</a>
<br><a href="/read/activities">View All Activities</a>
<br><a href="/read/results">View All Results</a>

</p>
