<center><h1>Welcome, Admin!</h1>
<h2>Create a Debate Tournament<br></h2>

  <p>Add: <a href="/add/student">Student Competitor</a> | 
  <a href="/add/college">College</a> | 
  <a href="/add/conference">Conference</a>
  <br><a href="/add/activity">Activity</a> | 
  <a href="/add/registration">Registration</a> | 
  <a href="/add/result">Result</a></p>
<br>
<br>
<br><a href="/read/students">View All Student Competitors</a> | 
<a href="/read/activities">View All Activities</a> | 
<a href="/read/results">View All Results</a> | 
<a href="/read/colleges">View All Colleges</a> |
<a href="/read/conferences">View All Conferences</a>
</p></center>
