<h1>Add Results</h1>

<p>This form can be used to add the final results of each event:</p>

<form action="/add_results">

    <label for="game_id"><sub><i>Game ID:</i></sub></label>
    <input type="integer" name="game_id">
    <label for="gamer_id"><sub><i>Gamer ID:</i></sub></label>
    <input type="integer" name="gamer_id">
    <br>
    <label for="completion_time"><sub><i>Completion Time:</i></sub></label>
    <input type="integer" name="completion_time">
    <br>
    <br>
    <input type="submit">

</form>
<br>
<br>
<a href="/">Back</a>

