<h1>Event Results</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Result ID</th>
      <th>Game</th>
      <th>Gamer</th>
      <th>Completion Time</th>
    </tr>
  </thead>



</table>
<br>
<br>
<a href="/">Home</a>