<p>Please enter information about each competitor here:</p>

<form action="/competitor_added" method="post">
  First name:<br>
  <input type="text" name="firstname"><br><br>

  Last name:<br>
  <input type="text" name="lastname"><br><br>

  School:<br>
  <select name="school">
    <% @schools.each do |s| %>
      <option value="s.id"> <%= s.school_name %> </option><br>
    <% end %>
  </select><br><br>

  Conference:<br>
  <select name="conference">
    <% @conferences.each do |c| %>
      <option value="c.id"> <%= c.conference_name %> </option><br>
    <% end %>
  </select><br><br>

  Gender:<br>
  <select name="gender">
    <option value="f">F</option>
    <option value="m">M</option>
  </select><br><br>

  <input type="submit" value="Submit">
</form> <br>