<p>Please enter information about each conference here:</p>

<form action="/conference_added" method="post">
  Conference name:<br>
  <input type="string" name="conference_name"><br><br>

  <input type="submit" value="Submit">
</form><br><br>