<p>Please enter information about each school here:</p>

<form action="/school_added" method="post">
  School name:<br>
  <input type="string" name="school_name"><br><br>

  <input type="submit" value="Submit">
</form><br><br>