<p>Please enter information about each style here:</p>

<form action="/style_added" method="post">
  Style:<br>
  <input type="string" name="race_style"><br><br>

  <input type="submit" value="Submit">
</form><br><br>