<h1>Which Student Would You Like to Add a Result for?</h1>
 
 
 <form method="post" action="/read/registrations">
    Student:<br>
    <select name="student_id">
      <% @students.each do |s| %>
        <option value="<%= s.id %>"><%= s.first_name %> <%= s.last_name %>
        </option>
      <% end %>
    </select><br>
    <input type="submit" value="See Events">
  </form>
