<h1>Add Squad</h1>

<p>This form can be used to add a squad to the tournament:</p>

<form action="/add_squad" method="post">

    <label for="squad_name"><sub><i>Squad Name:</i></sub></label>
    <input type="text" name="squad_name">
    <label for="division_id"><sub><i>Division ID:</i></sub></label>
    <select name="division_id">
      <% @divisions.each do |d| %>
      <option value="<%=d.id %>"><%= d.id%>: <%= d.division %></option>
      <% end %>
    <input type="submit">
</form>
<br>
<br>
<a href="/">Back</a>

