<h1>Competing Squads</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Squad ID</th>
      <th>Squad Name</th>
      <th>Division</th>
    </tr>
  </thead>



</table>
<br>
<br>
<a href="/">Home</a>