<h1>Add Squad</h1>

<p>This form can be used to add a squad to the tournament:</p>

<form action="/add_squad">

    <label for="squad_name"><sub><i>Squad Name:</i></sub></label>
    <input type="text" name="squad_name">
    <label for="division_id"><sub><i>Division ID:</i></sub></label>
    <input type="integer" name="division_id">
    <br>
    <br>
    <input type="submit">
</form>
<br>
<br>
<a href="/">Back</a>

