<h1>Competing Squads</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Squad ID</th>
      <th>Squad Name</th>
      <th>Division</th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |s| %>
    <tr>
      <td><center><%=s.id%></center></td>
      <td><a href="/squad/<%=s.id%>"><%= s.squad_name %></a></td>
      <td><%=s.division_access.divsion%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/">Home</a>