<h1>Penguins</h1>


<table border="1">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Age</th>
      <th>Rookery ID</th>
    </tr>
  </thead>

  <tbody>
    <% @penguins.each do |p| %>
      <tr>
        <td><%= p.last_name %></td>
        <td><%= p.first_name %></td>
        <td><%= p.age %></td>
        <td><%= p.rookery_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>