<p>To add a new penguin to the system, type the name of the penguin in the form below.</p>

<form action="/penguins/create">
  <p>Enter Last Name</p>
  <input type="text" name ="new_last_name">
  <br>
  <p>Enter First Name</p>
  <input type="text" name ="new_first_name">
  </br>
  <p>Enter Age<p>
  <input type="number" name="new_age">
  </br>
  <p>Enter Rookery ID</p>
  <input type="number" name="new_rookery_id">

  <input type="submit">

</form>

