<a href='/'>home</a>
<br>
<a href="/admin/conferences">back to conferences admin</a>

<h1>Edit Conference: <%= @conference.name %></h1>

<form action="/admin/conference_updated/<%= @conference.id %>" method="post">
  <fieldset>
    <legend>Update Conference:</legend>
    <label>Conference Name:</label><br>
    <input type="text" value="<%= @conference.name %>" name="name"><br>
    <input type="submit">
  </fieldset>
</form>