<center><h1>Swimmer Information Form</h1></center>

<center>
  <form action="/swimmer_info_form/create" method="get">
    <div>
      <label for="username">Last Name:</label>
      <input type="text" name="last_name">
    </div>

    <br>

    <div>
      <label for="username">First Name:</label>
      <input type="text" name="first_name">
    </div>
    
    <br>
    
    <div>
      <label for="username">Team ID:</label>
      <input type="text" name="team_id">
    </div>
    
    <br>

    <div>
      <label for="username">Age:</label>
      <input type="text" name="age">
    </div>
<br>

<div>
<label for="username">Height:</label>
<input type="text" name="height">
</div>
<br>
<div>
<label for="username">Weight:</label>
<input type="text" name="weight">
</div>
<br>
<input type="submit">
</form>
</center>
<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>