<h1>Add Conference:</h1>

<h2>Please enter the Conference information:</h2><br>
<% if @conference != nil %>
<% @conference.get_errors.each do |error| %>
  <ul><li><%= error %></li></ul>
  <%end%>
<%end%>

  <p>
    <form method="post" action="/conference/create">
      Conference Name:<br>
      <input type="text" name="conference_name"><br>
      <input type="submit">
    </form>
  </p>