<p>Success your chili has been added</p>
<p>Here is a list of all of the chilies we have so far:</p>

<% @noms.each do |x|%>
  <p><%= x.name %>'s ID is 
     <%= x.id %></p>
<% end %>


<p><a href="/chili">Add Another Chili</a></p>
<p><a href="/competition">Add Competitions</a></p>
<p><a href="/">Home</a></p>