<p>Here's a list of the chilies we so far</p>

<% @noms.each do |x|%>
  <p>Chili ID - <%= x.id %><br>
     Chili Name - <%= x.name %><br>
     Contestant ID - <%= x.contestant_id %></p>
<% end %>


<p><a href="/chili">Add Another Chili</a></p>
<p><a href="/competition">Add Competitions</a></p>
<p><a href="/">Home</a></p>
<br>
<br>
<br>
<p><a href="/submit_contestant">View Contestants</a></p>

<p><a href="/submit_city">View Cities</a></p>

<p><a href="/submit_chili">View Chilies</a></p>

<p><a href="/submit_competition">View Competition Categories</a></p>

<p><a href="/submit_scores">View Scores</a></p>