<p>Success your city has been added</p>
<p>Here is a list of all of the cities we have so far:</p>

<% @regions.each do |x|%>
  <p><%= x.city %></p>
<% end %>

<p><a href="/">Home</a></p>
<p><a href="/contestant">Add Contestant</a></p>