<p>Here's a list of the competition categories we have so far</p>

<% @all_cats.each do |a| %>
  <p>Category ID - <%= a.id %><br> 
     Category Name - <%= a.name %></p>
<% end %>

<p><a href="/competition">Add Another Competition</a></p>
<p><a href="/scores">Add Scores</a></p>
<p><a href="/">Home</a></p>
<br>
<br>
<br>
<p><a href="/submit_contestant">View Contestants</a></p>

<p><a href="/submit_city">View Cities</a></p>

<p><a href="/submit_chili">View Chilies</a></p>

<p><a href="/submit_competition">View Competition Categories</a></p>

<p><a href="/submit_scores">View Scores</a></p>