<p>Success your contestant has been added</p>
<p>Here is a list of all of the contestants we have so far:<br>
<% @con.each do |x|%>
  <p><%= x.first_name %>
     <%= x.last_name %></p>
<% end %>

<p><a href="/">Home</a></p>
<p><a href="/chili">Add Chili</a></p>