<p>The following contestant has been added:</p>

<p>ID - <%= @c.id %><br>
   Name - <%= @c.first_name %> 
   <%= @c.last_name %><br>
   hails from - <%= @c.cities %></p>

<p><a href="/">Homepage</a></p>

<p><a href="/add_region">Add City</a></p>

<p><a href="/add_contestant">Add Contestant</a></p>

<p><a href="/add_chili">Add Chili</a></p>

<p><a href="/add_competition">Add Competition Category</a></p>

<p><a href="/add_scores">Add Scores</a></p>

<br>
<br>

<p><a href="/view_regions">View Cities</a></p>

<p><a href="/view_contestants">View Contestants</a></p>

<p><a href="/view_chilies">View Chilies</a></p>

<p><a href="/view_competitions">View Competition Categories</a></p>

<p><a href="/view_results">View Scores</a></p>

<p><a href="/winners">View Winners</a></p>