
<center>

<TABLE  BORDER="5" WIDTH="80%" >
   <TR>
      
    <H1><BR><SPAN>SPRING SWIMMING TOURNAMENT</SPAN></H1>
      
   </TR>
      <th>Swimmer ID</th>
      <th>Event ID</th>
      <th>Time</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <tr>
        <td><%= info.swimmer_name %></td>
        <td><%= info.event_name %></td> 
        <td><%= info.time %></td>
        <td><%= info.rank %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
<br>

<center><a href="/">Admin Page</a></center>