
<center><h1>SIGN UP / RESULTS FORM</center>

<center>
<form action="/sign_up_form/create" method="get">
<label for="username">Swimmer ID:</label>
<input type="text" name="swimmer_info_id">
<label for="username">Event ID:</label>
<input type="text" name="event_id">
<label for="username">Time:</label>
<input type="text" name="time">
<label for="username">Rank:</label>
<input type="text" name="rank">
<input type="submit">
</form>
</center>

<a href="http://localhost:9292/">Admin Page</a>