<center><h1> Add Conference</center></h1>

<form method="GET" action="/conferences/added_new_conference">
  Conference :&emsp;<input type="text" name="add_conference_name_textbox" value=""><br><br>  
  <input type="submit" value="Add">
</form>
<br>
<br>
<center><a href="/">Home</a></center> 