<center><h1> Add Conference</h1>

<form method="POST" action="/conferences/added_new_conference">
  Conference :&emsp;<input type="text" name="add_conference_name_textbox" value="">
  <br>
  <br>  
  <input type="submit" value="Add">
</form>
</center> 

