<h1 style="color:green;">Add conference:</h1>

<form action="/add_conference" method="post">

  <input type="text" name="conference_name">

  <input type="submit">
  
</form>


<p><a href="/conferences"> Back </a></p>

<p><a href="/"> Home </a></p>
