<h1>Conferences</h1>


<table border="1">
  <thead>
    <tr>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |c| %>
      <tr>
        <td>
            <%= c.name %>
          <% if @conference != nil %>
            <a href="/conferences/process_delete/<%= @conference.id%>"> DELETE</a>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

