<h1>Conferences</h1>


<table border="1">
  <thead>
    <tr>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |c| %>
      <tr>
        <td>
            <%= c.name %>
          <% if c.id != nil %>
            <form action="/conferences/delete/<%= c.id %>" method="post">
              <input type="submit" value="delete">
            </form>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

