<center><form  method="POST" action="/conferences/conference/update_name/<%= @conference.id %>">
<input type="text" style="height:70px;font-size:36pt; text-align: center;>" name="update_conference_name_textbox" value="<%= @conference.name %>">
<br>&emsp;|&emsp;
<input type="submit" value="Update Conference Name">&emsp;|&emsp;
</form>

<br>
<table border="0">
  <thead>
    <tr>
      <th>College&emsp;</th>
      <th>Avg # of Activities Per Student&emsp;</th>
      <th>Average Score Per Student&emsp;</th>
      <th>Average Possible Score Per Student&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table> 
<br>
<br>
<br>
<center><a href="/">Main Page</a></center> 