<h1>Conference List</h1>

<% @conferences.each do |conference| %>
  <p>
      <a href = "/view_conference/<%= conference.id %>">
        <%= conference.conference %>
      </a>  
  </p>

  <form action = "/delete_conference/<%= conference.id %>" method = "post">
    <input type = "submit" value = "Delete">
  </form>
  <form action = "/edit_conference/<%= conference.id %>" method = "get">
    <input type = "submit" value = "Edit">
  </form>
<% end %>

<p><a href = "/">Home</a></p>