<center><h1><%= @conference.name %>Conference</h1>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>College&emsp;</th>
      <th>Avg # of Activities Per Student&emsp;</th>
      <th>Average Score Per Student&emsp;</th>
      <th>Average Possible Score Per Student&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table> 
<br>
<br>
<br>
<center><a href="/">Main Page</a></center> 