<h1>Conference List</h1>

<% @conferences.each do |conference| %>
  <p>
      <a href = "/view_conference/<%= conference.id %>">
        <%= conference.conference %>
      </a>  
  </p>
<% end %>

<p><a href = "/">Home</a></p>