<p>You may make changes to a conference below</p>

<form action="/conferences/process_edit/<%= @conference.id%>" method="post">
  <input type="text" name ="edit_conference" value="<%= @conference.name %>">

  <input type="submit" value="update">

</form>