<h1 style="color:green;">Edit conference:</h1>

<form action="/edit_conference/<%= @conference.id %>">

  <input type="text" name="name" placeholder="<%= @conference.name %>">

  <input type="submit">
  
</form>