<h1>Conferences</h1>

<h3> List of Conferences: </h3>
	<ul>
		<% @list_conferences.each do |c| %>
			<li>
				<a href = "/conference_info/<%= c.id %>"> <%= c.name %>
				</a>
				-
				<a href = "conference_delete/<%= c.id%>">
		  		delete
		  		</a>
			</li>
		<% end %>
	</ul>

<p><a href="/conferences/add_new"> Add new conference. </a></p>

<p><a href="/"> Home </a></p>

