<center>

<h1>No. Don't do that.</h1>

<h3>The conference you're trying to delete has schools attached to it.  If you wish to delete this conference, you must first delete these schools or assign them to another conference.</h3>

<a href="/all_conferences">Back</a>

</center>