<center>

<h1><%= @conference.conference.capitalize %> Conference</h1>

<table border = 1px style="width:50%">
  <tr>
    <th>Schools</th>
  </tr>

  <tr>
    <% @conference.schools.each do |c| %>
      <td align="center">
        <!-- # <a href = "/view_school/<%= @conference %>"> -->
        <%= c.school %>
      </td>
  </tr>
    <% end %>
</table>

<p><a href="/all_conferences">Back</a></p>
<p><a href="/">Home</a></p>

</center>