Sorry, you can't delete this conference because it has swimmers with race results. You need to delete those results first.

<p> Here are the competitor results in this conference:
<%= @display_this %><br>
</p><br>
<br>
<a href="/">Home</a>