<h1 style="color:green;">Add edit/result:</h1>

<form action="/add_result/time/<%= params[:competitor_id] %>/<%= params[:event_id] %>">

  <input type="integer" name="time" placeholder="time in seconds">
  
  <input type="submit">
  
</form>