<h1>Add result:</h1>

<form action="/add_result">

  <input type="text" name="event_id">
  <input type="text" name="competitor_id">
  <input type="text" name="time">
  <input type="submit">
  
</form>