<center><h1> Add/Modify/Delete Competitor Score</center></h1>

<h2>Add Competitor Score:</h2>
<form action="">
  Activity :&emsp;<input type="text" name="add_result_textbox" value=""><br><br>    
  <input type="submit" value="Add">
</form>
<br><br<>
<h2>Update Competitor Score</h2>
<p>Please select the desired score. Next, type out the change <br>
you would like to make in the text field below.<br></p>
<form action="">
<select name="update_result_dropdown">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
Activity :&emsp;<input type="text" name="update_result_textbox" value=""><br> <br><br>
<input type="submit" value="Update">
</form>

<br><br>

<h2>Remove Competitor Score:</h2>
<form action="">
  <select name="delete_result_dropdown">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>
