<h1>Results</h1>


<table border="1">
  <thead>
    <tr>
      <th>Penguin ID/<th>
      <th>Event ID</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td><%= r.penguin_id %></td>
        <td><%= r.event_id %></td>
        <td><%= r.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>