<h1>Results</h1>


<table border="1">
  <thead>
    <tr>
      <th>Penguin ID</th>
      <th>Event ID</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <% if r.penguin_access != nil %>
        <td>
          <%= r.penguin_access.first_name %> 
          <% end %> 
          <%= r.penguin_access.last_name %>
        </td>       
        <% if r.event_access != nil %>
        <td><%= r.event_access.name %></td>
        <% end %>
        <td><%= r.time %> (seconds)</td> 
      </tr>
    <% end %>
  </tbody>
</table>