<p>To add a new result to the system, type the result information in the form below.</p>

<form action="/results/process_edit/<%= @result.id %>" method="post">
  <p>Enter Penguin ID</p>
  <input type="number" name ="edit_penguin_id">
  <br>
  <p>Enter Event ID</p>
  <input type="number" name ="edit_event_id">
  </br>
  <p>Enter Time<p>
  <input type="number" step="any" name="new_time">
  </br>

  <input type="submit">

</form>