<h1>Result Details</h1>

<h3> <%= @result.name_of_event %> : <%= @result.name_of_competitor %>, <%= @result.time %> </h3>

<p><a href="/results/edit/<%= @result.id %>"> Edit this result. </a></p>

<p><a href="/"> Home </a></p>