<h1 style="color:green;">Add event:</h1>

<form action="/add_event" method="post">

  <input type="text" name="name">
  <input type="submit">
  
</form>

<p><a href="/events"> Back </a></p>

<p><a href="/"> Home </a></p>