<h1>Events</h1>


<table border="1">
  <thead>
    <tr>
      <th>Event</th>
      <th>Number of Entries</th>
      <th>Start Time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.num_entries %></td>
        <td><%= e.start_time.strftime("%I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>