<h1 style="color:green;">Edit event:</h1>

<form action="/edit_event/<%= @event.id %>" method="post">

  <input type="text" name="name" value="<%= @event.name %>">

  <input type="submit">
  
</form>

<p><a href="/events"> Back </a></p>

<p><a href="/"> Home </a></p>