<p>To add a new event to the system, type the name of the event in the form below.</p>

<% if @event.locked = true %>

    <h2 style="color:red";>This event has been locked and no further changes can be made!</h2>

<% else %>

  <form action="/events/process_edit/<%= @event.id %>" method="post">
    <label>Event</label>
    <input type="text" name ="edit_event" value="<%= @event.name %>">

    <label>Number of Entries</label>
    <input type="number" name="edit_entries" value="<%= @event.num_entries %>">

    <label>Start Time</label>
    <input type="time" name="edit_time" value="<%= @event.start_time.strftime("%H:%M") %>">

    <input type="submit" value="update">

  </form>


<% end %>