<p>To add a new event to the system, type the name of the event in the form below.</p>


<form action="/events/create" method="post">
  <label>Event</label>
  <input type="text" name ="new_event">

  <label>Number of Entries</label>
  <input type="number" name="new_entries">

  <label>Start Time</label>
  <input type="time" name="new_time">

  <input type="submit">

</form>
