<center>

<h1><%= @event.event.capitalize %></h1>

<% if @event.locked == true %>
<% else%>
  <form action="/lock_event/<%= @event.id %>" method = "post">
    <input type = "submit" value = "Lock">
  </form>
<% end %>

<% if @event.completed == true%>
  <table border = 1px style="width:50%">
    <tr>
      <th>Top Finishers(in order)</th>
    </tr>
  
    <tr>  
      <% @event.results.order('time ASC').first(3).each do |r| %>
        <td align="center">
          <%= r.competitor_name %>
        </td>        
    </tr>
      <% end %>
  </table>
<% else %>
  <p>Results not in.</p>
<% end %>

<table border = 1px style="width:50%">
  <tr>
    <th>Competitors</th>
  </tr>

  <tr>
    <% @event.results.each do |r| %>
      <% if r.competitor_name == nil %>
      <% else %>
        <td align="center">
          <%= r.competitor_name %>
        </td>
      <% end %>
  </tr>  
    <% end %>
</table>


<p><a href="/all_events">Back</a></p>
<p><a href="/">Home</a></p>

</center>