<h1><%= @event.event.capitalize %></h1>

<p>
  Top Three Finishers:
</p>

<ol>
<% @event.results.order('time ASC').first(3).each do |r| %>
  <li>
    <%= r.competitor_name %>
  </li>
<% end %>
</ol>


<p>
  Competitors:
</p>

<% @event.results.each do |r| %>
  <% if r.competitor_name == nil %>
  <% else %>
    <ul>
      <li>
        <%= r.competitor_name %>
      </li>
    </ul>
  <% end %>  
<% end %>


<p><a href="/all_events">Back</a></p>
<p><a href="/">Home</a></p>
