
<center>

<TABLE  BORDER="5" WIDTH="25%" >
   <TR>
      
    <H1><BR><SPAN>CONFERENCES</SPAN></H1>
      
   </TR>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <% if info.delete_conference? == false %>
        <tr>
          <td><%= info.conference %> - <a href="/delete_conference/<%= info.id %>">Delete</a></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</center>
<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>