<center><h1>CONFERENCE FORM</h1></center>

  <center>
    <form action="/conference_form/create" method="get">
      <input type="text" name="conference">
      <input type="submit">
    </form>
  </center>

<a href="/">Admin Page</a>