<a href="/">home</a>
<br>
<a href="/conferences">back to conferences</a>
<h1>Create a new Conference</h1>

<form action="/create_conference/success">
  <input type="text" name="conference_entered">
  <input type="submit">
</form>