<a href="/">home</a>
<br>
<a href="/create_event">add an event</a>
<br>
<a href="/signup">register a competitor for an event</a>

<h1>All Events</h1>

<% @events.each do |ev| %>
  <p><a href="/view_event/<%= ev.id %>"><%= ev.event_name %></a></p>
<% end %>