<center><h1>EVENTS</h1></center>

<center>
<table border="1">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Stroke</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <tr>
        <td><%= info.distance %></td>
        <td><a href="/swimmer/<%= info.id %>"><%= info.stroke %></a></td>
        </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>