<center><h1>EVENT FORM</h1></center>

<center>
<form action="/event_form/create" method="get">
<div>
<label for="username">Event:</label>
<input type="text" name="event_name">
<input type="submit">
</div>
</form>
</center>

<center><a href="/">Admin Page</a></center>