<center><h1>EVENTS</h1></center>

<center>
<table border="1">
  <thead>
    <tr>
      
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <tr>
        <td><%= info.event_name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>