<center><h1>EVENT FORM</h1></center>

<center>
<form action="/event_form/create" method="get">
<div>
<label for="username">Distance:</label>
<input type="text" name="distance">
</div>
<br>
<div>
<label for="username">Stroke:</label>
<input type="text" name="stroke">
</div>
<br>
<input type="submit">
</form>
</center>

<center><a href="/">Admin Page</a></center>