<center><h1>EVENTS</h1></center>

<center>
<table border="1">
  <thead>
    <tr>
      <th>Event</th>
      <th>Lock</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <tr>
        <td><a href="/event/<%= info.id %>"><%= info.event_name %></a></td>
        <td>
          <form action="/lock_event/<%= info.id %>" method="post">
          <button name="lock" type="submit" value="true">Lock Event</button>
          </form> 
        </td>
        </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>