<center><h1>EVENT FORM</h1></center>

<center>
<form action="event_form" method="get">
<div>
<label for="username">Distance:</label>
<input type="text" name="distance">
</div>
<br>
<div>
<label for="username">Stroke:</label>
<input type="text" name="stroke">
</div>
<br>
<input type="submit">
</form>
</center>

<center><a href="http://localhost:9292/">Admin Page</a></center>