<a href="/">home</a>
<br>
<a href="/events">back to events</a>
<h1><%= @event.event_name %></h1>

<table style="width:50%" border="1">
  <tr>
    <td>Competitor</td>
    <td>School</td>
    <td>Conference</td>
  </tr>
  <% @event.event_competitors.each do |e| %>
  <tr>
    <td><%= e %></td>
    <td>code to include schools</td>
    <td>code to include conferences</td>
  </tr>
  <% end %>
</table>