<a href="/">home</a>
<br>
<a href="/events">back to events</a>
<h1><%= @event.event_name %></h1>

<table style="width:50%" border="1">
  <tr>
    <td>Competitor</td>
    <td>School</td>
    <td>Conference</td>
  </tr>
  <% @event.competitors.each do |c| %>
  <tr>
    <td><%= c.competitor_name %></td>
    <td><%= c.school_id %></td>
    <td>conference</td>
  </tr>
  <% end %>
</table>







