<a href="/">home</a>
<br>
<a href="/events">back to events</a>
<h1><%= @event.event_name %></h1>

<table style="width:50%" border="1">
  <tr>
    <td>competitor</td>
    <td>school</td>
    <td>conferenc</td>
  </tr>
  <tr>
    <td>code to include event_competitors</td>
    <td>code to include schools</td>
    <td>code to include conferences</td>
  </tr>
</table>