<center><h1>Gender Form</h1></center>

<center>
<form action="/gender_form/create" method="get">
<input type="text" name="gender">
<input type="submit">
</form>
</center>
<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>