<a href="/">home</a>
<br>
<a href="/create_school">add a school</a>

<h1>All Schools</h1>

<ul>
  <% @schools.each do |s| %>
    <li><%= s.id %> 
    - 
    <a href="/view_school/<%= s.id %>"><%= s.school_name %></a>
    - 
    <%= s.conf_name %></li>
  <% end %>
</ul>