<a href="/">home</a>
<br>
<a href="/schools">back to schools</a>
<h1>Create a new School</h1>

<form action="/create_school/success">
  <fieldset>
    <legend>School Information:</legend>
    School Name:<br>
    <input type="text" name="school"><br>
    Conference:<br>

    <select type="number" name="conference">
    <% @conferences.each do |c| %>
    <option value="<%= c.id %>"><%= c.conference_name %></option>
    <% end %> 
    </select>

    <input type="submit">
  </fieldset>
</form>