<form action="/process_edit_school_form/<%= school.id %>">

  Title:
  <input type="text" name="anything_we_want" value="<%= @school.school %>">

  ID:
  <input type="number" name="anything_we_want">

  <input type="submit">

</form>