<p>Please enter the competitor's name:</p>

<form action="/competitor_added">
  <fieldset>
    <legend>Competitor</legend>
    <br>Enter the competitor's name <br>
    <input type="text" name="competitor_name"> <br><br>    
    Select competitor's college id:<br>
    <input type="number" name="college_id"><br><br>
    <input type="submit">
  </fieldset>
</form>
