<p>Please enter a new event:</p>

<form action="/event_added" method="post">
  <fieldset>
  <legend>Event</legend>
    <input type="text" name="event_name">
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/all_events">View all events</a></p>
<br>
<p><a href="/">Home</a></p>