<p>Please enter the Conference:</p>

<form action="/conference_added" method="post">
  <fieldset>
  <legend>Conference</legend>
    <input type="text" name="conference_name">
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/all_conferences">View all conferences</a></p>
<br>
<p><a href="/">Home</a></p>