<center>
  <br>
  <br>
  <br>
  <br>
    <h1>
      This will 
        <font color = "red">
          DELETE
        </font>
      all records from the system.  
    </h1>
  <br>
  <br>
    Swimmers: <%= @all_swim_names.join(", ")%>
  <br>
  <br>
    Events: <%= @all_event_names.join(", ")%>
  <br>
  <br>
    Schools: <%= @all_school_names.join(", ")%>
  <br>
  <br>
    Conferences: <%= @all_conference_names.join(", ")%>
  <br>
  <br>
  <br>
    <h2>Are you sure?</h2>
  <br>
  <br>
    <form action= "/delete_data_confirmation" method="post">  
      <input type="submit" value="DELETE ALL DATA">
    </form>
  <br>
    (or)
  <br>
   <a href = "/"> 
     Get me out of here!
   </a>
</center>
