<center>
<br>
<br>
<br>
<br>
  <h1>
    This will 
      <font color = "red">
        DELETE
      </font>
    all records from the system.  
  
  </h1>
<br>
<br>
<br>
  Are you sure?
<br>
<br>
  <form action= "/view_delete_data_confirmation" method="post">  
    <input type="submit" value="DELETE ALL DATA">
  </form>
 <br>
 (or)
 <br>
 <a href = "/"> Get me out of here!
 </a>
