<p>Here's a list of the competition categories we had in 2015</p>

<% @competition_table.each do |row| %>
  <p>Category ID - <%= row.id %><br> 
     Category Name - <a href="/competition_winners/<%= row.id %>"><%= row.name %></a></p>
<% end %>
