<h1>Add Student:</h1>

<h2>Please enter the student information:</h2><br>

<p>
  <form method = "post" action="/student/create">
    Student First Name:<br>
    <input type="text" name="student_first_name"><br>
    Student Last Name:<br>
    <input type="text" name="student_last_name"><br>
    Student Age:<br>
    <input type="number" name="student_age"><br>
    Student College:<br>
    <select name="college_id">
      <% @colleges.each do |c| %>
      <option value="<%= c.id %>"> <%= c.college_name %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
</p>