<center><h1>TEAM FORM</h1></center>

<center>
<form action="/team_form/create" method="post">
Team
<input type="text" name="team">
Conference
<input type="text" name="conference_id">
<input type="submit">
</form>
</center>

<a href="/">Admin Page</a>