Update a competitor here: 

<form action="/update/style_updated/<%= @competitor.id %>">
  First name:<br>
  <input type="text" name="firstname"><br><br>

  Last name:<br>
  <input type="text" name="lastname"><br><br>

  School:<br>
  <select name="school">
    <option value="Creighton University">Creighton University</option>
    <option value="Doane College">Doane College</option>
    <option value="Wesleyan University">Wesleyan University</option>
    <option value="Central Community College">Central Community College</option>
    <option value="University of Nebraska-Lincoln">University of Nebraska-Lincoln</option>
  </select><br><br>

  Conference:<br>
  <select name="conference">
    <option value="East">East</option>
    <option value="West">West</option>
  </select><br><br>

  Gender:<br>
  <select name="gender">
    <option value="f">F</option>
    <option value="m">M</option>
  </select><br><br>

  <input type="submit" value="Submit">
</form> <br>