Update an event here: 

<form action="/update/event_updated/<%= @event.id %>" method="post">>
  Gender:<br>
  <select name="gender">
    <option value="F">F</option>
    <option value="M">M</option>
  </select>
  <br><br>

  Distance:<br>
  <input type="integer" name="race_distance" value="<%= @event.distance %>"> meters<br><br>

  Style:<br>
  <input type="string" name="style" value="<%= @event.display_style_of_event %>"><br><br>

  <input type="submit" value="Submit">
</form><br><br>