Update an event here: 

<form action="/event_added">
  Gender:<br>
  <select name="gender">
    <option value="F">F</option>
    <option value="M">M</option>
  </select>
  <br><br>

  Distance:<br>
  <input type="integer" name="race_distance"> meters<br><br>

  Style id:<br>
  <input type="integer" name="style_id"><br><br>

  <input type="submit" value="Submit">
</form><br><br>