Update a result here:

<form action="/result_added">
  Event id:<br>
  <input type="integer" name="event_id"><br><br>

  Competitor id:<br>
  <input type="integer" name="competitor_id"><br><br>

  Result (in seconds):<br>
  <input type="decimal" name="final_time"><br><br>

  <input type="submit" value="Submit">
</form><br><br>