Update a school here: 

<form action="/update/school_updated/<%= @school.id %>" method="post">
  School name:<br>
  <input type="string" name="school_name" value="<%= @school.school_name %>"><br><br>

  <input type="submit" value="Submit">
</form><br><br>