Update a style here: 

<form action="/update/style_updated/<%= @style.id %>">
  Style:<br>
  <input type="string" name="race_style" value="<%= @style.style %>"><br><br>

  <input type="submit" value="Submit">
</form><br><br>