<center><h1> Add/Modify/Delete Competitor</center></h1>

<h2>Add Competitor:</h2>
<form action="">
  First name:&emsp;<input type="text" name="add_first_name_textbox" value=""><br>    
  Last name:&emsp;<input type="text" name="add_last_name_textbox" value=""><br><br>
  <input type="submit" value="Add">
</form>
<br><br<>
<h2>Update Competitor Name:</h2>
<p>Please select the competitor you wish to update. <br>
Type out the change you would like to make in the text fields below.<br></p>
<form action="">
<select name="update_competitor_dropdown">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
First name:&emsp;<input type="text" name="update_first_name_textbox" value=""><br>    
Last name:&emsp;<input type="text" name="update_last_name_textbox" value=""><br><br>
<input type="submit" value="Update">
</form>

<br><br>

<h2>Remove Competitor:</h2>
<form action="">
  <select name="delete_competitor_dropdown">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>

<center><a href="/admin/admin_overview">Admin</a> | <a href="/">Home</a></center> 