<center><h1> Add New Competitor</h1>
<br>
<br>
  <form  method="POST" action="/competitors/added_new_competitor">
  First & Last Name:&emsp;<input type="text" name="add_competitor_name_textbox" value="">
  &emsp;&emsp;

  Age:&emsp;<select name="competitor_age_dropdown">
    <% for i in 1..100 %>
       <option value="<%= i %>"><%= i %></option>
    <% end %>  
  </select>&emsp;&emsp;

  College:&emsp;<select name="competitor_college_dropdown">
    <% @colleges.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
    <% end %>  
  </select>
  <br>
  <br>
  <input type="submit" value="Add New User">
</form>
<br>
<br>

</center> 