<h1>Add competitor:</h1>

<form action="/add_competitor">

  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="school_id">
  <input type="submit">
  
</form>
