<center><h1><%= @competitor.name %></h1>
<p><%= @competitor.age %>&emsp;|&emsp;
<%= @competitor_get_college_name %>&emsp;|&emsp;
<%= @competitor_get_conference_name %></p>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Activity&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>Points Earned&emsp;</th>
      <th>%Points Earned&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table> 
<br>
<br>
<br>
<center><a href="/">Main Page</a></center> 