<h1>Competitor List</h1>

<% @competitors.each do |competitor| %>
  <p>
    <a href = "/view_competitor/<%= competitor.id %>">
      <%= competitor.first_name + " " + competitor.last_name %>
    </a>
  </p>
  <form action = "/delete_competitor/<%= competitor.id %>" method = "post">
    <input type = "submit" value = "Delete">
  </form>
  <form action = "/edit_competitor/<%= competitor.id %>" method = "get">
    <input type = "submit" value = "Edit">
  </form>
<% end %>

<p><a href = "/">Home</a></p>