<h1> Success! You've deleted the entry for <%= @competitor.first_name.capitalize + " " + @competitor.last_name.capitalize %>. </h1>


<p><center><a href = "/">Home</a></center></p>
<center><a href = "/all_competitors">Back to competitors</a></center>