

<h2>Remove Competitor:</h2>
<form action="">
  <select name="delete_competitor_dropdown">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>

<center><a href="/admin/admin_overview">Admin</a> | <a href="/">Home</a></center> 