
<h2>Update Competitor Name:</h2>
<p>Please select the competitor you wish to update. <br>
Type out the change you would like to make in the text fields below.<br></p>
<form action="">
<select name="update_competitor_dropdown">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
First name:&emsp;<input type="text" name="update_first_name_textbox" value=""><br>    
Last name:&emsp;<input type="text" name="update_last_name_textbox" value=""><br><br>
<input type="submit" value="Update">
</form>