<p>Update college information:</p>
<br>

<form>
  <p>
    College:
    <input type="text" name="college_name" value="<%= @college.college_name %>">
  </p>
  <p> 
    Conference ID:
    <input type="number" name"conference_id" value="<%= @conference.conferece_name %>">
  </p>
</form>