<p>Update college information:</p>
<br>

<form>
  <p>
    College:
    <input type="text" name="coll_name" value="<%= @colleges.college_name %>">
  </p>
  <p> 
    Conference ID:
    <input type="number" name"conf_id" value="<%= @colleges.conference_id %>">
  </p>
</form>