<h1>Add the swimmer's times.</h1>
<form action="/add_times" method="post">
  <p> Swimmer's Time for the <%= @event_name.event_name %> </p>
  <%@event.each do |i|%>
    <%= i.swimmer %>
    <input type="decimal" name="input_time[]"><br>
  <%end%>
  <input type="submit">
</form>