<h1>Add a University</h1>

<p>Add a University<p>

<form action="/add_university" method="post">

  <input type="text" name="input_university">

  <input type="number" name="conference_id">

  <p>Conference ID<p>


</form>

<a href="/show_universities">View all Universities</a>
<a href="/">Return Home</a>

<!--   <select name="conference_id">
  
    <option value="1">East</option>
    <option value="2">West</option>
    <option value="3">North</option>
    <option value="4">South</option>
  </select>
  <input type="submit"> -->
