<a href="/">home</a>
<h1>Create a new School</h1>



<form action="/create_school/success">
  <fieldset>
    <legend>School Information:</legend>
    School Name:<br>
    <input type="text" name="school"><br>
    Conference ID:<br>
    <input type="number" name="conference">
    <input type="submit">
  </fieldset>
</form>