<h1>Add a Swimmer</h1>

<p>Add Swimmer<p>

<form action="/add_swimmer">

  <input type="text" name="input_swimmer">
  
</form>

<a href="/show_swimmers">View all Swimmers</a>
<a href="/">Return Home</a>
