<a href="/">home</a>
<h1>Create a new Result</h1>

<form action="/create_result/success">
  <input type="number" name="event_id">
  <input type="number" name="competitor_id">
  <input type="integer" name="time_entered">
  <input type="number" name="rank">
  <input type="submit">
</form>