<h1>Add Results of an Event</h1>



<form action="/add_result" method="post">

  <p>First choose the name of the event.<p>
  <select name="event_id">
    <% @events.each do |y| %>
      <option value="<%=y.id%>"><%=y.event_name%> </option>
    <% end %>
  </select>

    <p>Now choose all of the swimmers what swam in this event.<p>
  
    <% @swimmers.each do |y| %>
      <input type="checkbox" name="swimmer_id[]" 
        value="<%=y.id%>"><%=y.swimmer_name%> </option> <br>
    <% end %>
  <input type="submit" value="Submit">
</form>



<p><a href="/show_results">View Results for all events</a><p>
<p><a href="/">Return Home</a><p> 



<!--   <select name="swimmer_id">
    <option value="swimmer_id">Swimmer</option>
  </select>

  <select name="university_id">
    <option value="university_id">University</option>
  </select>
 -->