<h1>Add a University</h1>

<p>Add a University<p>

<form action="/add_university">

  <input type="text" name="input_university">
  
</form>

<a href="/show_universities">View all Universities</a>
<a href="/">Return Home</a>
