<h1>Add an Event</h1>

<p>Add an Event<p>

<form action="/add_event" method="post">

  <input type="text" name="input_event">
  
</form>

<a href="/show_events">View all Event</a>
<a href="/">Return Home</a>