<h1>Add Results of an Event</h1>

<p>Swimmer ID<p>

<form action="/add_result">
  <p> Add Swimmer's ID
  <input type="number" name="swimmer_id">
  <p>
  <p> Add Event ID
  <input type="number" name="event_id">
  <p>
  <p> Swimmer's Time for Event
  <input type="decimal" name="input_time">
  <p>
  <input type="submit">
</form>





<a href="/show_results">View Results for all events</a>
<a href="/">Return Home</a> 

This will require a way to enter swimmer, event, and time.

<!--   <select name="swimmer_id">
    <option value="swimmer_id">Swimmer</option>
  </select>

  <select name="university_id">
    <option value="university_id">University</option>
  </select>
 -->