<a href="/">home</a>
<h1>Create a new Conference</h1>

<form action="/create_conference/success">
  <input type="text">
  <input type="submit" value="SUBMIT">
  
</form>

# display already created events in a table or list