<h1>Add a Conference</h1>

<p>Add a Conference<p>

<form action="/add_conference">

  <input type="text" name="input_conference">
  
</form>

<a href="/show_conferences">View all Conferences</a>
<a href="/">Return Home</a>
