<h1 style="color:green;">Add school:</h1>

<form action="/add_school">

  <input type="text" name="school_name" placeholder="School name">
  <select name="conference_id">
	   <option selected disabled>Choose conference</option>
			<% @list_conferences.each do |c| %>
				<option value= "<%=c.id%>"> <%=c.name %> </option>
			<%end%>
  </select>
  <input type="submit">
  
</form>