<center>

<h1><%= @school.school.capitalize %></h1>

<table border = 1px style="width:50%">
  <tr>
    <th>Competitors</th>
  </tr>

  <tr>
    <% @school.competitors.each do |s| %>
      <td align="center">
        <!-- <a href = "/view_competitor/<%= %>">  -->
        <%= s.first_name.capitalize + " " + s.last_name.capitalize %>
      </td>
  </tr>
    <% end %>
</table>

<p><a href="/all_schools">Back</a></p>
<p><a href="/">Home</a></p>

</center>