VALIDATION ERROR

Can not save an empty registration for <%=@currentswimmer.swimmer_name%>

You can <a href="/signups">return to Registration</a> or edit <%=@currentswimmer.first_name%>'s events <a href="/viewswimmer/<%=@currentswimmer.id%>"></a>

<a href="/signups">Back</a>
<a href="/">Home</a>