Here you can add another Conference, if you REALLY need to

<form action="/newconference">
  <fieldset>
    <legend>Add New Conference</legend>
      <label for="conference_name">New Conference Name</label>
        <input type="text" name="conferencename">
      <input type="submit">
  </fieldset>
</form>