<h1>Swimmers</h1>
<h2>Enrolled Kitties:<h2>

<form action="/newswimmer">
  <fieldset>
  <legend>Add New Swimmer</legend>
  <label for="new_swimmer">Swimmer Name</label>
  <input type="text" name="newswimmername">
  <input type="submit">
  </fieldset>
</form>