VALIDATION ERROR

Could not save "<%=@errorobject%>" with the following errors:
<% @errors.each do |error| %>
  <p><%= error %> </p>
<%end%>

<a href="/swimmers">Back to Swimmers</a>
<a href="/">Home</a>