<h1>Swimmers</h1>
<h2>Enrolled Kitties:<h2>

<form action="/newswimmer">
  <fieldset>
    <legend>Add New Swimmer</legend>
      <label for="swimmer_first_name">Swimmer First Name</label>
        <input type="text" name="swimmerfirstname">
      <label for="swimmer_last_name">Swimmer Last Name</label>
        <input type="text" name="swimmerlastname">
      <input type="submit">
  </fieldset>
</form>