<center><h1> Add College</h1>

<form method="POST" action="/colleges/added_new_college">
  College :&emsp;<input type="text" name="add_college_name_textbox" value="">
  &emsp;&emsp;

  Conference:&emsp;<select name="college_conference_dropdown">
    <option value="<%= nil %>"><%= "---" %></option>
    <% @conference.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
    <% end %>  
  </select>
<br>
<br>  
  <input type="submit" value="Add">
</form></center>


