<center><h1> Add College</center></h1>

<form method="GET" action="/colleges/added_new_college">
  College :&emsp;<input type="text" name="add_college_name_textbox" value=""><br><br>
  Conference:&emsp;<select name="college_conference_dropdown">
    <% @conference.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
    <% end %>  
  </select>
  <br>  
  <input type="submit" value="Add">
</form>
<br><br>
<center><a href="/">Home</a></center> 


