<h2>Update College Description:</h2>
<p>Please select the desired college. Next, type out the change <br>
you would like to make in the text field below.<br></p>
<form action="">
<select name="update_college_dropdown">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
Activity :&emsp;<input type="text" name="update_college_textbox" value=""><br> <br><br>
<input type="submit" value="Update">
</form>

<center><a href="/">Home</a></center> 