<h1>Division Added!</h1>
<p><b>Success!</b> <%= params["divison"]%> regional division added!</p>

<a href="/division_form">Back</a>
<br>
<a href="/divisions_list">Division List</a>
<br>
<a href= "/">Home</a>
