<h1>Delete Unsuccessful</h1>

<p>
  This Division currently is populated by Squads and cannot<br>
  be deleted. Please first delete squads before trying to <br>
  delete division
</p>

<br>
<a href="divisions_list">Back</a><br>
<a href="squads_list">Squad List</a><br>
<a href="/">Home</a>