<h1>Add Division</h1>

<p>This form can be used to add a regional division to the tournament:</p>

<form action="/add_division">

    <label for="division"><sub><i>Division:</i></sub></label>
    <input type="text" name="division">
    <input type="submit">

</form>
<br>
<br>
<a href="/">Back</a>

