<h1>List of Divisions</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Divison ID</th>
      <th>Division</th>
    </tr>
  </thead>

  <tbody>
    <% @divisions.each do |d| %>
      <tr>
        <td><center><%= d.id %></center></td>
        <td><a href="/division/<%=d.id%>"><%= d.division %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/">Home</a>