<form action="/submit_chili">

  <p>Please type the first name of the chili being entered</p>
  <p><input type="text" name="name_of_chili"></p>

  <p>Please type the contestant ID from the table below.</p>
  <p><input type="text" name="contestant_id"></p>

  <p><input type="submit"></p>

</form>

<p>Here is a list of all of the contestants in the database and their IDs:</p>

<% @people.each do |x|%>
  <p>ID - <%= x.id %><br>
     Name - <%= x.first_name %> 
     <%= x.last_name %></p>
<% end %>

<br>
<br>

<table border="0">
<tr>

<td>
  <form action="/add_city">
    <input type="submit" value="Add City">
  </form>
</td>

<td>
  <form action="/add_contestant">
    <input type="submit" value="Add Contestant">
</form>
</td>

<td>
  <form action="/add_chili">
    <input type="submit" value="Add Chili">
  </form>
</td>

<td>
  <form action="/add_competition">
    <input type="submit" value="Add Competition">
  </form>

<td>
  <form action="/add_scores">
    <input type="submit" value="Add Scores">
  </form>
</td>

</tr>
</table>


<table border="0">
<tr>

<td>
  <form action="/view_cities">
      <input type="submit" value="View Cities">
  </form>
</td>

<td>
  <form action="/view_contestants">
      <input type="submit" value="View Contestants">
  </form>
</td>

<td>
  <form action="/view_chilies">
      <input type="submit" value="View Chilies">
  </form>
</td>

<td>
  <form action="/view_competitions">
      <input type="submit" value="View Competitions">
  </form>
</td>

<td>
  <form action="/view_scores">
      <input type="submit" value="View Scores">
  </form>
</td>

<td>
  <form action="/view_winners">
      <input type="submit" value="View Winners">
  </form>
</td>

</tr>
</table>

<br>
<br>


<td>
  <form action="/">
    <input type="submit" value="Homepage">
  </form>
</td>