<form action="/submit_chili">

  <p>Please type the first name of the chili being entered</p>
  <p><input type="text" name="name_of_chili"></p>

  <p>Please type the contestant ID from the table below.</p>
  <p><input type="text" name="contestant_id"></p>

  <p><input type="submit"></p>

</form>

<p>Here is a list of all of the contestants in the database and their IDs:</p>

<% @people.each do |x|%>
  <p>ID - <%= x.id %><br>
     Name - <%= x.first_name %> 
     <%= x.last_name %></p>
<% end %>

<p><a href="/">Homepage</a></p>

<p><a href="/add_region">Add City</a></p>

<p><a href="/add_contestant">Add Contestant</a></p>

<p><a href="/add_chili">Add Chili</a></p>

<p><a href="/add_competition">Add Competition Category</a></p>

<p><a href="/add_scores">Add Scores</a></p>

<br>
<br>

<p><a href="/view_regions">View Cities</a></p>

<p><a href="/view_contestants">View Contestants</a></p>

<p><a href="/view_chilies">View Chilies</a></p>

<p><a href="/view_competitions">View Competition Categories</a></p>

<p><a href="/view_results">View Scores</a></p>

<p><a href="/winners">View Winners</a></p>