<p>This conference cannot be deleted!</p>
<br> 
<p>Please delete the conference's college(s) first or change their conference.</p>
<br>
<p><a href="/all_colleges">View all colleges</a></p>
<br>
<p><a href="/">Home</a></p>