<h1>Rookeries</h1>


<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>Rookery Name</th>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @rookeries.each do |r| %>
      <tr>
        <td>
          <% if r.id != nil %>
            <form action="/rookeries/delete/<%= r.id %>" method="post">
              <input type="submit" value="delete">
            </form>
          <% end %>
        </td>       
        <td><%= r.name %></td>
        <% if r.conference_access != nil%>
        <td><%= r.conference_access.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>