<h1>Rookeries</h1>


<table border="1">
  <thead>
    <tr>
      <th>Rookery Name</th>
      <th>Conference</th>
    </tr>
  </thead>

  <tbody>
    <% @rookeries.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.conference_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>