<center><h1><%= @activity.name %></h1>

Max Possible Score: <b><%= @activity.max_score %></b>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Competitor&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>College&emsp;</th>
      <th>Conference&emsp;</th>
      <th>Total Activites&emsp;</th>
      <th>Competitor Score&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table> 
<br>
<br>
<br>
<center>
<table border="0">
  <thead>
    <tr>

    <th><form method="POST" action="/activities/activity/<%= @activity.id %>/update_activity">
    <input type="submit" value="Update Activity"></form></th>

    <th><form method="POST" action="/activities/activity/<%= @activity.id %>/delete_activity/confirmation">
    <input type="submit" value="Delete Activity">&emsp;</form></th></form>
    </tr>
    </thead>
    </table>
    <br>
    <br>
    </center>