<center><h1> Add Activity</center></h1>

<form  method="GET" action="/activities/added_new_activity">
  Activity :&emsp;<input type="text" name="add_activity_textbox" value=" "><br><br>    
  <input type="submit" value="Add">
</form>
<br><br<>


<center><a href="/">Home</a></center> 