<center><h1> Add/Modify/Delete Activity</center></h1>

<h2>Add Activity:</h2>
<form action="">
  Activity :&emsp;<input type="text" name="add_activity_textbox" value=""><br><br>    
  <input type="submit" value="Add">
</form>
<br><br<>
<h2>Update Activity Description:</h2>
<p>Please select the desired activity. Next, type out the change <br>
you would like to make in the text field below.<br></p>
<form action="">
<select name="update_activity_dropdown">
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
  <option value="PLACEHOLDER">PLACEHOLDER</option>
</select>
<br><br>
Activity :&emsp;<input type="text" name="update_activity_textbox" value=""><br> <br><br>
<input type="submit" value="Update">
</form>

<br><br>

<h2>Remove Activity:</h2>
<form action="">
  <select name="delete_activity_dropdown">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>

<center><a href="/admin/admin_overview">Admin</a> | <a href="/">Home</a></center> 