<h2>Remove Activity:</h2>
<form action="">
  <select name="delete_activity_dropdown">
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
    <option value="PLACEHOLDER">PLACEHOLDER</option>
  </select>
  <input type="submit" value="Delete">
</form>

<center><a href="/">Home</a></center> 