<p>Here's a list of the contestants we have so far</p>

<% @con.each do |row|%>
  <p>Contestant ID - <%= row.id %><br> 
     Contestant Name - <%= row.first_name %> 
     <%= row.last_name %><br>
     <%= row.cities %>.</p>
<% end %>

<p><a href="/">Homepage</a></p>

<p><a href="/add_region">Add City</a></p>

<p><a href="/add_contestant">Add Contestant</a></p>

<p><a href="/add_chili">Add Chili</a></p>

<p><a href="/add_competition">Add Competition Category</a></p>

<p><a href="/add_scores">Add Scores</a></p>

<br>
<br>

<p><a href="/view_regions">View Cities</a></p>

<p><a href="/view_contestants">View Contestants</a></p>

<p><a href="/view_chilies">View Chilies</a></p>

<p><a href="/view_competitions">View Competition Categories</a></p>

<p><a href="/view_results">View Scores</a></p>

<p><a href="/winners">View Winners</a></p>
