<p>This is where your competition info displays!!!</p>


<p>Display details of who is participating in this competition based on the url category number</p>

<p>The name of this category is <%= @comp_obj.name %></p>

<p>goal</p>
<p>competition.contestant_first_name</p>
<p>competition.contestant_last_name</p>