<h1><%= @comp_obj.name %> Competiton</h1>


<p>The following are the current participants:</p>

<% @comp_obj.contestants.each do |x| %>
  <p><%= x.first_name %> 
     <%= x.last_name %></p>
<% end %>

