<p>This page will display the 2015 winners per category calculated.</p>

<% @os.each do |x| %>
  <p>
    <%= x.overall %> 
    <%= x.contestant.first_name %>
    <%= x.contestant.last_name %>
  </p>
<% end %>
