<form action="/submit_scores">

  <p>Please enter the Competition ID</p>
  <p><input type="text" name="competiton_id"></p>
  <% @competitions.each do |x|%>
    <p><%= x.name %>
       <%= x.id %></p>
  <%end%>

  <p>Please enter the Chili ID</p>
  <p><input type="text" name="chili_id"></p>
  <% @chilis.each do |x|%>
    <p><%= x.name %>
       <%= x.id %></p>
  <%end%>

  <p>Please enter the rating for the Appearance Category</p>
  <p><input type="text" name="appearance"></p>

  <p>Please enter the rating for the Aroma Category</p>
  <p><input type="text" name="aroma"></p>

  <p>Please enter the rating for the Flavor Category</p>
  <p><input type="text" name="flavor"></p>

  <p>Please enter the rating for the Texture Category</p>
  <p><input type="text" name="texture"></p>

  <p>Please enter the rating for the Overall Category</p>
  <p><input type="text" name="overall"></p>

  <p>Please enter the rating for the Heat Category</p>
  <p><input type="text" name="heat"></p>

  <p><input type="submit"></p>
</form>
