<form action="/submit_scores">

  <p>Please enter the Contestant ID</p>
  <p><input type="text" name="contestant_id"></p>
  <% @contestants.each do |x|%>
    <p><%= x.first_name %>
       <%= x.last_name %>
       <%= x.id %></p>
  <%end%>

  <p>Please enter the Competition ID</p>
  <p><input type="text" name="competiton_id"></p>
  display competition table

  <p>Please enter the Chili ID</p>
  <p><input type="text" name="chili_id"></p>
 display chili table

  <p>Please enter the rating for the Aroma Category</p>
  <p><input type="text" name="aroma"></p>

  <p>Please enter the rating for the Flavor Category</p>
  <p><input type="text" name="flavor"></p>

  <p>Please enter the rating for the Texture Category</p>
  <p><input type="text" name="texture"></p>

  <p>Please enter the rating for the Overall Category</p>
  <p><input type="text" name="overall"></p>

</form>
