<form action="/submit_contestant">

  <p>Please type the first name of the contestant to be added</p>
  <p><input type="text" name="contestant_first_name"></p>

  <p>Please type the last name of the contestant to be added</p>
  <p><input type="text" name="contestant_last_name"></p>

  <p>Please type the city ID of the contestant's city from the table below.</p>
  <p><input type="text" name="city_id"></p>

  <p><input type="submit"></p>

</form>

<p>Here is a list of all of the cities in the database and their IDs:</p>

<% @regions.each do |x|%>
  <p><%= x.id %>
     <%= x.city %></p>
<% end %>
<br>
<br>
<br>
<p><a href="/submit_contestant">View Contestants</a></p>

<p><a href="/submit_city">View Cities</a></p>

<p><a href="/submit_chili">View Chilies</a></p>

<p><a href="/submit_competition">View Competition Categories</a></p>

<p><a href="/submit_scores">View Scores</a></p>