
<form action="/submit_city">

  <p>please type the name of the city to be added</p>
  <input type="text" name="city_name">

  <input type="submit">

</form>
<br>
<br>
<br>
<p><a href="/submit_contestant">View Contestants</a></p>

<p><a href="/submit_city">View Cities</a></p>

<p><a href="/submit_chili">View Chilies</a></p>

<p><a href="/submit_competition">View Competition Categories</a></p>

<p><a href="/submit_scores">View Scores</a></p>