<h1>Welcome to the Admin Page for the **insert cat sports pun here**!</h1>
4:52(ish)
<p><a href="/swimmingevents">Events and Winners</a></p> <!--includes events, finishes, ranks, winners-->
<p><a href="/competitors">Competitors and Colleges</a></p> <!--includes swimmers, signups colleges, conferences-->

Link to SUPERADMIN!!!
