<h1>Welcome to the Admin Page for the **insert cat sports pun here**!</h1>
You're doing good work and we appreciate you!

<h2>BEFORE THE TOURNAMENT</h2>
ADD/VEIW
<p><a href="/events">WATERCAT EVENTS</a></p>
<p><a href="/colleges">PURRTICIPATING SCHOOLS</a></p>
<p><a href="/swimmers">BRAVE KITTY SWIMMERS</a></p>

Click <a href="/signups">HERE</a> to register kitties for events!

<h2>DURING THE TOURNAMENT</h2>
<p><a href="/finishes">INPUT EVENT TIMES</a></p>
<p><a href="/winners">FIND THE WINNERS</a></p>


Less needed pages can be found on our <a href="/superadmin">superadmin page.</a>
