<h1>NEKO ATSWIME WATERCAT TOURNAMENT</h1>

Welcome Admin! You're doing good work and we appreciate you!

<h2>PRE-TOURNAMENT REGISTRATION</h2>
ADD/VIEW
<p><a href="/events">WATERCAT EVENTS</a></p>
<p><a href="/colleges">PURRTICIPATING SCHOOLS</a></p>
<p><a href="/swimmers">BRAVE KITTY SWIMMERS</a></p>

Click <a href="/signups">HERE</a> to register kitties for events!

<h2>TOURNAMENT EVENTS AND WINNERS</h2>
<p><a href="/finishes">INPUT EVENT TIMES</a></p>
<p><a href="/winners">FIND THE WINNERS</a></p>


Less needed pages can be found on our <a href="/superadmin">superadmin page.</a>
