Here you can manipulate information in the Database


<h1>Add Events, Schools, and Swimmers!</h1>


<p>Enter a swimmer that you would like to add to the comepition</p>
<form action="/add_swimmer">
<input type = "text" name = "new_swimmer">
<input type = "submit">
</form>



</body>
</html>