

<a href="/">Home</a><br>

<h1>Colleges in this Swim Meet</h1>



Here's what I want on this page

college name, conference name, college contact, college contact email, college contact phone for every college 

 <p> Nothing that I put on this page that starts with @colleges is working. </p> 



  <p>
    <%= @colleges.college_name %> <%= @colleges.conference_name %> 
  
  </p>



