Welcome to the college info page!<br>
this page will display a form to add a participating college<br>
when submit is clicked you will be taken to the conference info page<br>

<form action="/conference_info">

  please insert the college name here<br>
  <input type="text" name="college_name">

  <input type="submit">

</form>

