<a href="/">Home</a><br>
 

<h1>Participating Colleges</h1>

<% @colleges.each do |college| %>

<a href= "/college_view/<%= college.id %>">

<h3><%= college.college_name %>

</a>

--

<a href= "/college_delete/<%= college.id %>">Delete</a></h3>

<% end %>





