
<!-- #drop down for conference name? -->

<a href="/">Home</a><br>

<h1>Add a College</h1>
<p>Enter a participating college's information.</p>

<form action = "/college/create">
  <input type ="text" name="college_name">
  <input type ="integer" name="conference_id">
  <input type ="text" name="contact_person">
  <input type ="text" name="contact_email">
  <input type ="text" name="contact_phone">
  <input type ="submit">
</form>