
<!-- #drop down for conference name? -->

<a href="/">Home</a><br>

<h1>Add a College</h1>
<p>Enter a participating college's information.</p>

<form action = "/college/create">
  <input type ="text" name="college_name" placeholder="College_Name">
  <input type ="integer" name="conference_id" placeholder="Number_from_Table">
  <input type ="text" name="contact" placeholder="Contact_Person">
  <input type ="text" name="contact_email" placeholder="Contact_email">
  <input type ="text" name="contact_ph" placeholder="Contact_phone">
  <input type ="submit">
</form>
