<p>Please enter the competitor's name:</p>

<form action="/events">
  First name:<br>
  <input type="text" name="firstname" <br>
  Last name:<br>
  <input type="text" name="lastname" <br>
  <input type="submit"
</form>