<a href="/">Home</a><br>

<h1>Conference Status</h1>


<p>Here are the participating conferences.</p>


  <p>
    <%= @conferences.all %>
  </p>


<!-- @conference.participating_colleges.each do |college| -->
