<!-- #not sure if this is better than combining this entry with the college entry Duplication? -->

<a href="/">Home</a><br>

<h1>Add a Conference</h1>
<p>Enter a participating conference's name.</p>

<form action = "/conference/create">

  <input type ="text" name="conference_name" 
    placeholder="Conference Name">

  <input type ="submit">
  
</form>

