
<a href="swimmers/<%= @swimmer.id %>">
<form>
<form action="finish_update/<%= @swimmer.id%>">

<input type="text" name="edit_title" value="<%= @swimmer.title %>">

<input type="number" name="edit_number" value="<%= @swimmer.id %>">

<input type="submit">
</form>