
<form action="finish_update_swimmer/<%= @swimmer.id%>">
  <p>
    Name:
    <input type = "text" name = "edit_title" value = "<%= @swimmer.name %>">
    </p>
    <p>
    School ID
    <input type = "text" name = "edit_number" value = "<%= @swimmer.school_id %>">
    </p>
  <input type = "submit">

</form>