<p>Please enter the competitor's event(s):</p>

<form action="/confirmation">
  Event 1:<br>
  <input type="text" name="event_1" <br>
  Event 2:<br>
  <input type="text" name="event_2" <br>
   Event 3:<br>
  <input type="text" name="event_3" <br>
  Event 4:<br>
  <input type="text" name="event_4" <br>
  <input type="submit"
</form>