<h1>Here are the events in the Tournament</h1>
<p>
  <% @events.each do |event| %>
    <a href="view_event/<%= event.id%>">
    <%= event.event_name %> </a></p>
  <a href="delete_event/<%= event.id%>">
  Delete
  </a>
</p>
<% end %>
