<h1>Kyle's Best Swimming App Ever</h1>

<p>Click links below to add information<p>

<a href="/new_swimmer">Add a Swimmer</a>
<a href="/new_university">Add a University</a>
<a href="/show_universities">View all Universities</a>


