<center>

  <h1>Welcome to the Gamer's Anonymous Tournament Management System!</h1>

  <p>Please follow the links below in order to use the system:</p>

  <img src="http://eskipaper.com/images/8-bit-7.jpg" alt="Tournament" 
       style="width:550px;height:300px;">

  <br>
  <i><u>Review/Edit/Delete</u></i>
  <br>
  <a href="/games_list">Games List</a> |
  <a href="/divisions_list">Division List</a> |
  <a href="/squads_list">Squad List</a> |
  <a href="/gamers_list">Gamers List</a> |
  <a href="/results_list">Results</a>
  <br>
  <i><u>Add</u></i>
  <br>
  <a href="/game_form">Add a Game</a> |
  <a href="division_form">Add a Division</a> |
  <a href="/squad_form">Add a Squad</a> |
  <a href="/gamer_form">Add a Gamer</a> |
  <a href="/results_form">Add Final Results</a>

</center>