<h1>Welcome to the Athletic Event Homepage!</h1>

<ul>
  <li><a href="#">add an Event</a></li>
  <li><a href="#">add a School</a></li>
  <li><a href="#">add a Conference</a></li>  
  <li><a href="#">add a Competitor</a></li> 
  <li><a href="#">add a Result</a></li>  
</ul>