<h1>Welcome to the Athletic Event Homepage!</h1>

<ul>
  <li><a href="/create_event">add an Event</a></li>
  <li><a href="/create_school">add a School</a></li>
  <li><a href="/create_conference">add a Conference</a></li>  
  <li><a href="/create_competitor">add a Competitor</a></li> 
  <li><a href="/create_result">add a Result</a></li>  
</ul>