<h1>Welcome to the Athletic Event Homepage!</h1>

<ul>
  <li><h3>Admin Center</h3></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/schools">Schools</a></li>
  <li><a href="/conferences">Conferences</a></li>
  <li><a href="/competitors">Competitors</a></li>
  <li><a href="/results">Results</a></li>
</ul>

<ul>
  <li><h3>Creation Center</h3></li>
  <li><a href="/signup">Signup for an Event</a></li>
  <li><a href="/create_result">add a Result</a></li>  
</ul>