<h1>Welcome to the Gamer's Anonymous Tournament Management System!</h1>

<p>Please follow the links below in order to use the system:</p>


<a href="division_form">Add a Division</a>
<br>
<a href="/game_form">Add an Game</a>
<br>
<a href="/squad_form">Add a Squad</a>
<br>
<a href="/gamer_form">Add a Gamer</a>
<br>
<a href="/results_form">Add Final Results</a>