<p>Welcome to the swim tournament database</p>

<p><a href="/event">Click here to add an event to the database</a></p>
<p><a href="/conference">Click here to add a conference to the database</a></p>
<p><a href="/college">Click here to add a college to the database</a></p>
<p><a href="/award">Click here to add an award to the database</a></p>
<p><a href="/competitor">Click here to register a competitor for the tournament</a></p>
<p><a href="/eventdetail">Click here to select an event for a registered competitor</a></p>
<p><a href="/eventdetail">Click here to enter a competitor's race time</a></p>