<p>Welcome to the Administration Site for the annual "Danger Zone" Chili Cookoff!!!</p>

<p>Please click a link below to add information to this site.</p>


<p><a href="/add_region">Add City</a></p>

<p><a href="/add_contestant">Add Contestant</a></p>

<p><a href="/add_chili">Add Chili</a></p>

<p><a href="/add_competition">Add Competitions</a></p>

<p><a href="/add_scores">Add Scores</a></p>

<p><a href="/winners">Winners</a></p>

<br>
<br>
<br>

<p><a href="/view_contestants">View Contestants</a></p>

<p><a href="/view_regions">View Cities</a></p>

<p><a href="/view_chilies">View Chilies</a></p>

<p><a href="/view_competitions">View Competition Categories</a></p>

<p><a href="/view_results">View Scores</a></p>