<br>
<p><b>SWIM TOURNAMENT DATABASE</b></p><br><br>

<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>

<table style="width:70%">
  <tr>
    <th>ADD</th>
    <th>VIEW/DELETE</th>
    <th>EDIT/UPDATE</th> 
  </tr>
  <tr>
    <td><a href="/event">Add an event to the database</a></td>
    <td><a href="/all_events">View all events in database</a></td>
    <td><a href="/all_events_to_update">Choose an event to update</a></td>   
  </tr>
  <tr>
    <td><a href="/conference">Add a conference to the database</a></td>
    <td><a href="/all_conferences">View all conferences in database</a></td>
    <td><a href="/all_conferences_to_update">Choose a conference to update</a></td>   
  </tr>
  <tr>
    <td><a href="/college">Add a college to the database</a></td>
    <td><a href="/all_colleges">View all colleges in database</a></td>
    <td><a href="/all_colleges_to_update">Choose a college to update</a></td>    
  </tr>
    <tr>
    <td><a href="/award">Add an award to the database</a></td>
    <td><a href="/all_awards">View all awards in database</a></td>
    <td><a href="/all_awards_to_update">Choose an award to update</a></td>    
  </tr>
  <tr>
    <td><a href="/competitor">Register a competitor for the tournament</a></td>
    <td><a href="/all_competitors">View all competitors in database</a></td>
    <td><a href="/all_competitors_to_update">Choose a competitor to update</a></td>    
  </tr>
  <tr>
    <td><a href="/eventdetail">Select an event for a registered competitor <br> <b>OR</b> Enter a competitor's finish time</a></td>
    <td><a href="/all_event_details">View all event details in database</a></td>
    <td><a href="/all_event_details_to_update">Choose an event detail to update</a></td>    
  </tr>
</table>