
<!DOCTYPE html>
<html>

<body>

<div class="container">
  <h2>Welcome to the National All Star Swimming Competition</h2>
  <p>Select category you would like to see results of.</p>                                          
      <li><a href="/swimmer">Swimmer</a></li>
      <li><a href="/event">Event</a></li>
      <li><a href="/school">School</a></li>

    </ul>
  </div>
</div>
<div id="footer">
 
  <ul>
    <li><a href="/administrator">Admin Only</a></li>

</div>
</body>
</html>
