<p>Welcome to the Administration Site for the annual "Danger Zone" Chili Cookoff!!!</p>
<p>Please click a link below to add information to this site.</p>


<p><a href="/region">Add Region</a></p>
<p><a href="/contestant">Add Contestant</a></p>
<p><a href="/chili">Add Chili</a></p>
<p><a href="/competition">Add Competitions</a></p>
<p><a href="/scores">Add Scores</a></p>
<p><a href="/winners">Winners</a></p>



