<p>Welcome to the Administration Site for the annual "Danger Zone" Chili Cookoff!!!</p>
<p>Please click a link below to add information to this site.</p>


<a href="/region">Add Region</a>
<a href="/contestant">Add Contestant</a>
<a href="/chili">Add Chili</a>
<a href="/competition">Add Competitions</a>
<a href="/results">Add Results</a>
<a href="/winners">Winners</a>

<!-- 
<form action="/college_info">

  please insert the first name here<br>
  <input type="text" name="first_name">

  <br>please insert the last name here<br>
  <input type="text" name="last_name">

  <input type="submit">

</form> -->

