<center>
<br>
<br>
<br>
<br>
<center><p><h1>The World's Most Powerful Fibonacci Sequencer</h1></p>

<h3> Please enter the number of loops desired. </h3>

<form action="/result">
  <input type="integer" name="user_loops">
  <input type="submit">
</form>


<a href="/admin">Admin</a> 