<h1>Welcome to the Athletic Event Homepage!</h1>

<ul>
  <li><h2>Admin Center</h2></li>
  <li><a href="/events">Events</a>
    <ul>
      <li><a href="/signup">Event Registration</a></li>
    </ul>
  </li>
  <li><a href="/schools">Schools</a></li>
  <li><a href="/conferences">Conferences</a></li>
  <li><a href="/competitors">Competitors</a></li>
  <li><a href="/results">Results</a></li>
</ul>