<h1>Welcome to the Athletic Event Homepage!</h1>

<ul>
  <li><a href="/events">Events</a></li>
  <li><a href="/schools">Schools</a></li>
  <li><a href="/runners">Runners</a></li>
  <li><a href="/results">Results</a></li>
</ul>

<a href="/admin">admin center</a>