<h1>Kyle's Best Swimming App Ever</h1>

<p>Click links below to add information<p>

<p> <a href="/new_swimmer">Add a Swimmer</a> <p>
<p> <a href="/show_swimmers">View all Swimmers</a> <p>

<p> <a href="/new_university">Add a University</a> <p>
<p> <a href="/show_universities">View all Universities</a> <p>

<p> <a href="/new_conference">Add a Conference</a> <p>
<p> <a href="/show_conferences">View all Conferences</a> <p>

<p> <a href="/new_event">Add an Event</a> <p>
<p> <a href="/show_events">View all Events</a> <p>

<p> <a href="/new_result">Add the Results of an Event.</a> <p>
<p> <a href="/show_results">View the Results of all Events</a> <p>

<p> <a href="/show_standings">View the Medal Winners in all Events</a> <p>
