<p>Welcome to the swim tournament database!</p>

<a href="/events">Click here to add events to the database</a> 
<a href="/conferences">Click here to add conferences to the database</a> 
<a href="/colleges">Click here to add colleges to the database</a> 
<a href="/competitors">Click here to register a competitor for the tournament</a> 
<a href="/conferences">Click here to select an event for a registered competitor</a> 