<h1>Cat Derby Admin Page</h1>

<p><a href="/competitors"> Competitors </a></p>

<p><a href="/conferences"> Conferences </a></p>

<p><a href="/competitors"> Events </a></p>

<p><a href="/competitors"> Schools </a></p>

<p><a href="/competitors"> Results </a></p>

