<h1 align="center" style="color:green;">Cat-tucky Derby Admin Page</h1>

<p><img src="/images/cats_racing.jpg" width= "100%" align="middle" alt="This is a picture of a racing cats."> </p>

<!-- <p><a href="/conferences"> Conferences </a></p>

<p><a href="/schools"> Schools </a></p>

<p><a href="/competitors"> Competitors </a></p>

<p><a href="/events"> Events </a></p>

<p><a href="/results"> Results </a></p> -->

