<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Debate Meet</title>
</head>

<body>

  <%= yield %>
</body>

<br>
<br>
<center><a href="#" onclick="history.go(-1)">Previous Page</a>&emsp;|&emsp;<a href="/">Main Page</a></center> 
</html>
