
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>String Segmenter</title>
  <link href='http://fonts.googleapis.com/css?family=Fascinate|Rammetto+One|Poller+One|Monofett|Raleway:400,900,100,800|Homemade+Apple' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
<!--   <link rel="shortcut icon" type="image/x-icon" href="public/img/cat.ico">
  <link rel="icon" type="image/x-icon" href="public/img/cat.ico"> -->
</head>

<body>
  <!-- This is what a code comment in HTML looks like. -->

  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>
<!-- <footer>Thank you!</footer> -->
</html>