<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>String Segmenter</title>
</head>

<body>
  <!-- This is what a code comment in HTML looks like. -->

  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>
</html>