<h1>Welcome!</h1>

<form action = "/competitors">
<p>First Name<input type = "text" name = "fname"></p>
<p>Last Name<input type = "text" name = "lname"></p>
<p>School<input type = "text" name = "school"></p>
<input type = "submit">
</form>

<ul>
  <li><a href = "/competitors">Competitors</a></li>
  <li><a href = "/conferences">Conferences</a></li>
  <li><a href = "/events">Events</a></li>
  <li><a href = "/results">Results</a></li>
  <li><a href = "/schools">Schools</a></li>
</ul>
