<h1>Swim Meet Management System</h1>
<p>View anything about this competition by using the links.</p>

<h2>Pre-Meet Setup</h2>
<p> These links are for entry of information into the swim meet's database.</p>
<a href="/swimmer">Add New Swimmer </a><br>
<a href="/race">Add Races to Schedule</a><br>
<a href="/swim_entry">Add Swimmer Entries</a><br>
<a href="/college/new">Add Colleges Entered</a><br>
<a href="/conference">Add Conferences Entered</a><br>



<a href="/race/schedule">View Race Schedule</a><br>

<a href="/all_colleges">List of Participating Colleges</a>

<p>This link will not be needed until the day of the meet.</p>
<a href="/race_result">Add Race Results</a><br>


<h2>View Race Status</h2>
<p> Use links below to see the current status of each race.</p>
<p> Includes race results if race is completed.</p> 
<!-- <a href="/race_view/:id">View Race Status</a><br>  -->

<a href="/race_view/1">View 100m Swim to Loyal Horse on Opposite Shore</a><br> 
<a href="/race_view/2">View 100m Swim Carrying Injured Best Friend</a><br>
<a href="/race_view/3">View 100m Swim Dodging Flaming Arrows</a><br> 
<a href="/race_view/4">View 100m Underwater Swim Breathing Through Reed</a><br>
<a href="/race_view/5">View 100m Swim Under Overturned Canoe</a><br> 
<a href="/race_view/6">View 100m Swim Stopping at 50m to Curse Invaders</a><br>

<a href="/college_view/1">Hogwarts Information</a>
<a href="/college_view/2">Middle Earth Information</a>
<a href="/college_view/3">Westeros Information</a>
<a href="/college_view/4">Tatooine Information</a>

<a href="/conference_view">View Conferences Entered</a>



