<h1>Swim Meet Management System</h1>
<p>View anything about this competition by using the links.</p>

<p> These links are for entry of information into the swim meet's database.</p>
<a href="/swimmer">Add New Swimmer </a><br>
<a href="/race">Race Schedule</a><br>
<a href="/swim_entry">Add Swimmer Entries</a><br>
<a href="/race_result">Add Race Results</a><br>
<a href="/college">Add Colleges Entered</a><br>
<a href="/conference">Add Conferences Entered</a><br>


<p> This link will provide the current status of a race.</p>
<p> Includes race results if race is completed.</p> 
<a href="/race_view/:id">View Race Status</a> 


