<h1>Swim Meet Management System</h1>
  <p>
    From this page you can manage any data-related task in this competition by using the links.
  </p>

<h3>Day of the Meet</h3>
  <p>
    This link will not be needed until the day of the meet.
  </p>

  <a href="/race_result"
    >Add Race Results
  </a><br>

<h3>Race Status</h3>
  <p>
    Current status of each race. Includes results if race is completed.
  </p>

  <a href="/race_view/1"
    >100m Swim to Loyal Horse on Opposite Shore
  </a><br>

  <a href="/race_view/2"
    >100m Swim Carrying Injured Best Friend
  </a><br>

  <a href="/race_view/3"
    >100m Swim Dodging Flaming Arrows
  </a><br>

  <a href="/race_view/4"
    >100m Underwater Swim Breathing Through Reed
  </a><br>

  <a href="/race_view/5"
    >100m Swim Under Overturned Canoe
  </a><br>

  <a href="/race_view/6"
    >100m Swim Stopping at 50m to Curse Invaders
  </a><br>

<h3>View Records</h3>

  <a href="/race/schedule"
    >Race Schedule
  </a><br>

  <a href="/all_colleges"
    >Participating Colleges
  </a><br>

  <a href="/conference_view"
    >Participating Conferences
  </a><br>

  <a href="/all_swimmers"
    >Participating Swimmers
  </a><br>

  <a href="/all_swim_entries"
    >Record of Swim Entries by ID only
  </a><br>


<h3>Pre-Meet Setup</h3>
<p> Entry of information before the day of the meet.</p>

  <a href="/swimmer/new"
    >Add a Swimmer 
  </a><br>
  <a href="/race"
    >Add Races to Schedule
  </a><br>
  <a href="/swim_entry"
    >Add Swimmer Entries
  </a><br>
  <a href="/college/new"
    >Add a College
  </a><br>
  <a href="/conference"
    >Add a Conference
  </a><br>







