<h1>Swim Meet Management System</h1>
<p>View anything about this competition by using the links.</p>

<a href="/swimmer">New Swimmer Form</a><br>
<a href="/race">Race Schedule</a><br>
<a href="/swimmer">Swimmer Entries</a><br>
<a href="/race_result">Race Results</a><br>
<a href="/college">Colleges Entered</a><br>
<a href="/conference">Conferences Entered</a><br>


