<p>To add a new conference to the system, type the name of the conference in the form below.</p>

<form action="/conferences/create">
  <input type="text" name ="new_conference">

  <input type="submit">

</form>