<!-- Drop-down menu for college_id? -->
<a href="/">Home</a><br>

<h1>Add a Swimmer</h1>
<p>Please enter the following information about each swimmer.</p>
<p>For "college" just enter the number on the following list that corresponds to the swimmer's college.</p>

<p>1-Hogwarts</p>
<p>2-Middle Earth</p>
<p>3-Narnia</p>
<p>4-Westeros</p>
<p>5-Tatooine</p>
<p>6-Krypton</p>

<form action = "/swimmer/create">
  <input type ="text" name="first_name">
  <input type ="text" name="last_name">
  <input type ="integer" name="college_id"> 
  <input type ="submit">
</form>
