<a href="/">Home</a><br>

<h1>Race Schedule</h1>
<p>Please enter each race in the race schedule.</p>


<form action = "/race/create">
  <input type ="text" name="event_name">
  <input type ="time" name="start_time">
  <input type ="submit">
</form>