<a href="/">Home</a><br>

<h1>Race Schedule</h1>
<p>Please enter each race in the race schedule.</p>


<form action = "/race/create">
  <input type ="text" name="event_name" placeholder="event_name">
  <input type ="text" name="start" placeholder="sample 00:00 a.m.">
  <input type ="submit">
</form>