<a href="/">Home</a><br>

<h1>Enter Race Results</h1>

<p>After completion of a race, you should receive the information you need to complete this form from the race steward.</p>

<p>Please complete when received.</p>

<form action = "/race_result/create">

  <input type ="integer" name="swim_entry_id" 
    placeholder="swim entry id">

  <input type ="integer" name="swimmer_done" 
    placeholder="seconds">

  <input type ="integer" name="swimmer_race_rank" 
    placeholder="finish rank"> 

  <input type ="submit">

</form>