<br>
<br>
<br>
<br>
<center><p><h3>Your Primes:</h3></p>
<br>
<br>
<h4><font color = "light grey">(...)
<br>
<br>
<br>
<center><h1><font color = "green"><%= @awesomes.each do |p| %></style></h1></center> 
<br>
<br>
<br>
<br>
<br>
<center><a href="/">Home</a></center>
