<h3><%= @school.school_name %>
-
(<%= @school.conference_name %>)Division<h3>
<table border="1">
  <thead>
    <tr>
      <th>School</th>
      <th>Conference</th>
   
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @school.school_name %></td>
        <td><%= @school.conference_name %></td>

      
        
      </tr>
 
  </tbody>
</table>