
<form action="complete_add_time/<%= @signup.id%>">
  <p>
    Event 
    <input type = "text" name = "" value = "<%= @signup.event_name %>">
    </p>
    <p>
    Swimmer
    <input type = "text" name = "" value = "<%= @signup.name %>">
    </p>
    Enter the TIME!
    <input type = "text" name = "time" value = "<%= @signup.event_time %>">
  <input type = "submit">

</form>