<a href="/">Home</a><br>

You successfully added race results.

<p>To add more race results, use the 'Add Race Results' link below.</p>
<a href="/race_result">Add Race Result</a>
<p>If you are done adding race results for now, use the link below to return to the home page.</p>
<a href="/">Home</a>