<a href="/">Home</a><br>

<p>You successfully added a new race to the schedule.</p>

<p>To add another race, use the 'Add Race' link below.</p>
<a href="/race">Add Race</a>
<p>If you are done adding races to the schedule for now, use the link below to return to the home page.</p>
<a href="/">Home</a>