<a href="/">Home</a><br>

<p>You successfully added a new swimmer.</p>

<p>To add another swimmer, use the 'Add Swimmer' link below.</p>
<a href="/swimmer">Add Swimmer</a>
<p>If you are done adding new swimmers for now, use the link below to return to the home page.</p>
<a href="/">Home</a>