Goal: This page is what the user sees if they try to edit or delete a locked college. Operates as a bypass -- they don't go to the edit college erb and they don't delete the college from the college_list. 

This college's information is now locked.

<a href="/">Home</a><br>