<a href="/">Home</a><br>
<p>You successfully added a college.</p>
<p>To add another college, use the 'Add College' link below.</p>
<a href="/college">Add College</a><br>
<p>If you are done adding colleges for now, 
use the link below to return to the home page.</p>
<a href="/">Home</a><br>
