Goal: This page is what the user sees when they first lock a college and any time thereafter if they should try to edit that college's data.  

<p>This college's information is locked.</p>

<a href="/">Home</a><br>