<a href="/">Home</a>
<p>You successfully added a conference.</p>
<p>To add another conference, use the 'Add Conference' link below.</p>
<a href="/conference">Add Conference</a>
<p>If you are done adding conferences for now, use the link below to return to the home page.</p>
<a href="/">Home</a>
