<a href="/">Home</a><br>

  <p>You successfully updated college information.</p>
  <p>If you have more updates to make, use the Update College Information link below.</p>

<a href=/"form_for_editing_college/:id">Update College Information</a><br>

  <p>If you are done updating college information for now, 
  use the link below to return to the home page.</p>
  
<a href="/">Home</a><br>