
<table border="1">
  <thead>Testing</thead>
    <tr>
      <th>Swimmer</th>
      <th>School(conference)</th>
      <th>Conference</th>
      <th>Events<th>t

    </tr>
  </thead>

  <tbody>
  
      <tr>
        <td><%= @swimmer.name %></td>
        <td><%= @swimmer.school.school_name   %> </td>
        <td><%= @swimmer.school.conference_name  %></td>
        <% @signup.each do |signup| %>
        <td><%= signup.event.event_name %></td>
        <% end %>
    
        
      </tr>
    
  </tbody>
</table>