<!-- <a href="/result">result</a>

#Don't know how to do drop-down menu for the colleges.


<h1>Add a Swimmer</h1>
<p>.</p>

<form action = "/result">
  <input type ="text" name="first_name">
  <input type ="text" name="last_name">
  <input type ="integer" name="college_id"> 
  <input type ="submit"
</form>