<a href="/">Home</a><br>

<h1>Swim Entry</h1>
<p>This is where every swimmer's event entries will be recorded. One swimmer may be in multiple events.</p>


<form action = "/swim_entry/create">
  <input type ="integer" name="swimmer_id" placeholder="swimmer # from list">
  <input type ="integer" name="race_id" placeholder="race # from list">
  <input type ="submit">
</form>