<h1>Swimmer Information Form</h1>

<center>
<form action="/swimmer_info_form" method="get">
<input type="text" name="first_name">
<input type="submit">
</form>
</center>

<a href="http://localhost:9292/">Admin Page</a>