<!-- Drop-down menu for college_id? -->


<h1>Add a Swimmer</h1>
<p>Please enter the following information about each swimmer.</p>

<form action = "/swimmer">
  <input type ="text" name="first_name">
  <input type ="text" name="last_name">
  <input type ="integer" name="college_id"> 
  <input type ="submit"
</form>
