
<table border="1">
  <thead>Testing</thead>
    <tr>
      <th>Swimmer</th>
      <th>School(conference)</th>
      <th>Event</th>

    </tr>
  </thead>

  <tbody>
  
      <tr>
        <td><%= @swimmer.name %></td>
        <td><%= @swimmer.school_name   %> </td>
        <td><%= @school.conference_name  %></td>
        <td><%= @signup.event_name %></td>
    
        
      </tr>
    
  </tbody>
</table>