something

#access to @w - race object
#access to @records - collection of swimmer objects

should be able to call methods on those objects to get what I want to display on this page

watch for getting to the right controller action

just put links on home page that take you to this for race 1, race 2, etc. and gives you the entries


<a href="/">Home</a><br>

<h1>Race Summary</h1>
<%=
<p>Information about all of the swimmmers in this event.</p>

<% @races.each do |event| %>
<p><a href="/race/<%event.id%>"<%event.name%</a></p>







<form action = "/race/:race_id">
  <input type ="integer" name="race_id"
  <input type ="string" name="start_time" 
  <input type ="string" name="event_name"
  <input type ="string" name="swimmer_first_name"
  <input type ="string" name="swimmer_last_name"

  <input type ="integer" name="race_id" placeholder="race # from list">
  <input type ="submit">
</form>