
<table border="1">
  <thead>
    <tr>
      <th>Swimmer</th>
      <th>School</th>
      <th>ID</th>
      <th>Event</th>

    </tr>
  </thead>

  <tbody>
  
      <tr>
        <td><%= @swimmer.name %></td>
        <td><%= @swimmer.school_name%></td>
        <td><%= @swimmer.id %></td>
        <td><%= @signup.event_name %></td>
    
        
      </tr>
    
  </tbody>
</table>