<h1>Your updates were successful!</h1>

<p>
  <a href="/penguins">Penguins</a>
</p>

<p>
<a href="/conferences">Conferences</a>
</p>

<p>
<a href="/events">Events</a>
</p>

<p>
<a href="/rookeries">Rookeries</a>
</p>

<p>
<a href="/results">Results</a>
</p>