<center>
<a href="/">
      Home
  <br>
  <br>
    <center>
<h1>
      Schools<br>
    </h1>
  <br>
   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
      <tr>
        <th>ID</th>
        <th>Name</th>
         <th>Conference</th>
      </tr>
      <% School.all.each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.school_name %></td>
        <td><%= Conference.find_by_id(n.conference_id).conference_name %></td>
      
      </tr>
      <% end %>
      <br>
      <br>   
    </table>
  <br>
  <br>
    <h1>
      This will add a school and its conference to the database.
    </h1>
  <br>
  <br>
  <br>
    <form action="/view_add_school_and_conference_confirmation" method="post">
      Name of school:
  <br>
  <br>
      <input type="text" name="school_1_name">
  <br>
  <br>
      Name of conference:
  <br>
  <br>
      <input type="text" name="conference_1_name">
  <br>
  <br>
      <input type="submit">
    </form>
</center>
