
<table border="1">
  <thead>
    <tr>
      <th>Event</th>
      <th>School</th>
      <th>Swimmer</th>
      <th>Add Time</th>

    </tr>
  </thead>

  <tbody>
 
      <tr>
        <td><%= @signup.event_name %></td>
        <td><%= @school.school_name%></td>
        <td><%= @signup.name %></td>
        <td><a href="/add_time">Add Time</a></td>
    
        
      </tr>
    
  </tbody>
</table>