<center>
  <br>
  <br>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Added Event 
  <br>
    <font color= "red">
      <%= @show_added_event_name %>
    </font>
  <br>
  <br>
  <br>
      <a href="/view_add_event">
        Add Another Event
      </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>
