<br>
<br>
<br>
<br>
<center><h1>Success!</h1>
<br>
  Added Swimmer 
<br>
<br>
  <h2>
    <font color= "red"><%= @show_added_name %>
<br>
    </font>
  </h2>
<br>
  to 
  <font color= "red"><%= @show_added_school %>
  </font>
  's 
<br>
list of competitors.<br>
<br>
  Swimmer's unique ID is:
<br>
<br>
  <h2>
    <font color= "red"><%= @show_school_id %>

    </font>
  </h2>
<br>
<a href="/view_add_swimmer">Add Another Swimmer</a><br> 
<a href="/">Home</a> 