<center>
  <br>
  <br>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Added School
    <br>
    <font color= "red">
      <%= @show_added_school_name %>
    </font>
  <br>
  <br>

    to new Conference: 
  <br>
    <font color= "red">
      <%= @show_added_conference %>
    </font>
  <br>
  <br>
  <br>
      <a href="/view_add_school_and_conference">
        Add Another School and Conference
      </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>
