<center>
<a href="/">
      Home
  <br>
    <h1> 
      Events 
    </h1>
  <table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>ID</th>
        <th>Event Name</th>
         <th>Locked?</th>
      </tr>
      <% Event.all.each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.event_name %></td>
        <td><%= n.locked? %></td>
      </tr>
      <% end %>
      <br>  
    </table>
    <h2>
      This will add an Event to the database.
    </h2>
  <br>
  <br>
  <br>
    <form action="/view_add_event_confirmation" method="post">
      Name of event:
  <br>
  <br>
      <input type="text" name="event_1_name">
  <br>
  <br>
  <br>
  <br>
      <input type="submit">
    </form>
</center>

