<br>
<br>
<br>
<br>
<center><h1>This will add a swimmer to the database.</h1>
<br>
<br>
<br>

<form action="/view_add_swimmer_confirmation">
Name
  <input type="text" name="swim_1_name"><br>
  <br>
School
  <input type="text" name="swim_1_school"><br>
  <br>
  <input type="submit">
</form>