<center>
<br>
<br>
<br>
<br>
  <h1>
    This will 
      <font color = "red">
        DELETE
      </font>
    all records from the system.  
  
  </h1>
<br>
<br>
<br>
 Are you sure?
 <br>
   <a href = "/view_delete_data_confirmation">
     <font color = "red">
       DELETE ALL DATA
     </font>
   </a>
 <br>
 (or)
 <br>
 <a href = "/"> Get me out of here!
  </form>
