<br>
<br>
<br>
<br>
<center><h1>Success!</h1>
<br>
Added Swimmer <font color= "red"><%= @show_added_name %><br></font>
<br>
to <font color= "red"><%= @show_added_school %></font>'s <br>list of competitors.<br>
<br>
<a href="/">Add Another Swimmer</a> 