<center>
<br>
<br>
<br>
<br>
  <h1>
    Success!
  </h1>
<br>
  Added Swimmer #
<br>
  <font color= "red">
  <%= @show_got_swim_id %>
  </font>
<br>
<br>
<br>
  To Event #
<br>
  <font color= "red">
<%= @show_got_event_id %>
  </font>
<br>
<br>
<br>
    <a href="/view_add_event">Add Another Event

    </a>
<br> 
<a href="/">Home</a> 
