<center>
  <br>
  <br>
  <br>
  <br>
    <h1>
      This will add a swimmer to the database.
    </h1>
  <br>
  <br>
  <br>
    <form action="/view_add_swimmer_confirmation" method="post">
      Swimmer name:
  <br>
  <br>
      <input type="text" name="swim_1_name">
  <br>
  <br>
  <br>
  <br>
      School name:
  <br>
  <br>
      <input type="text" name="school_1_name">
  <br>
  <br>
  <br>
  <br>    
      <input type="submit">
    </form>
</center>
