
<table border="1">
  <thead>
    <tr>
      <th>Event</th>
      <th>School</th>
      <th>Swimmers</th>
      <th>Swimmers</th>

    </tr>
  </thead>

  <tbody>
  <% @signup.each do |signup| %>
      <tr>
        <td><%= signup.event_name %></td>
        <td><%= @school.school_name%></td>
        <td><%= signup.name %></td>
        <td><%= signup.name %></td>
    
        
      </tr>
    <% end %>
  </tbody>
</table>