<center>
<br>
<br>
<br>
<br>
  <h1>

  This will sign up a swimmer to an event.
  
  </h1>
<br>
<br>
<br>
  <form 
    action="/view_add_signup_confirmation">

Swimmer name:<br><br>

    <input type="text" name="swim_signup_name"><br><br>
    <br><br>

Event name:<br><br>

    <input type="text" name="event_signup_name"><br><br>
    <br><br>
    
    <input type="submit">
  </form>
