<center>
    <h1>
      2016 Annual Seal-Island-Fun-Swim-Shark-Feed-Management-System
    </h1>
    ___________________________________
     <br>
  <br>
  <table border="0" cellpadding="5" cellspacing="5">
      <tr>
        <th>
          <img src="http://c1.thejournal.ie/media/2016/01/shutterstock_228543805-390x285.jpg">
        </th>
        </center>
        <th>
          <a href = "/leaderboard">
          View Leaderboard
        <br>
        <br>
        <br>
          </a>
          <a href = "/add_school_and_conference">
          Add School     
          </a>
          <br>
        <br>
        <br>
          <a href = "/add_swimmer">
          Add Swimmer
          </a>
          <br>
        <br>
        <br>
          <a href = "/add_event">
          Add Event
          </a>
          <br>
        <br>
        <br>
          <a href = "/add_signup">
          Add Sign-up
          </a>
        <br>
        <br>
        <br>
          <a href = "/add_score">
          Add Time
          </a>
        <br>
      </th>
  </table>
        <br>
        <br>
        <center>
          <font color = "red">
          <a href = "/delete_data">
          PURGE DATABASE
          </a>
    </font>
  </center>


