<center>
  <br>
    <h1> 
      Events 
    </h1>
  <table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>ID</th>
        <th>Event Name</th>
         <th>Locked?</th>
      </tr>
      <% Event.all.each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.event_name %></td>
        <td><%= n.locked? %></td>
      </tr>
      <% end %>
      <br>  
    </table>
    <h1>
      Success!
    </h1>
  <br>
    Added Event 
  <br>
    <font color= "red">
      <%= @show_added_event_name %>
    </font>
  <br>
  <br>
  <br>
      <a href="/view_add_event">
        Add Another Event
      </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>
