<center>
    <h1>
      Swim Team Management System
    </h1>
  <br>
    <h1>
      What do you want to do?
    </h1>
  <br>
  <br>
    <a href = "/view_leaderboard">
      View Leaderboard
    </a>
  <br>
  <br>
  <br>
  <br>
    <a href = "/view_add_conference">
      Add Conference
    </a>
  <br>
  <br>
  <br>
    <a href = "/view_add_swimmer">
      Add Swimmer
    </a>
  <br>
  <br>
    <a href = "/view_add_event">
      Add Event
    </a>
  <br>
  <br>
    <a href = "/view_add_signup">
      Add Sign-up
    </a>
  <br>
  <br>
  <br>
  <br>
    <a href = "/view_add_score">
      Add a New Time Record
    </a>
  <br>
  <br>
    <font color = "red">
      <a href = "/view_delete_data">
        DELETE DATA
      </a>
    </font>
  </center>


