<center>
  <br>
  <br>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Score Has Been Added to the Database.
  <br>
  <br>
  <br>
  <br>
    <a href="/view_add_score">
      Add Another Score
    </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>