<h3><%= @event.event_name %></h3>
<table border="1">
  <thead>
    <tr>
      <th>First Place</th>
      <th>Second Place</th>
      <th>Third Place</th>
   
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @event.first_place_name %></td>
        <td><%= @event.second_place_name %></td>
        <td><%= @event.third_place_name %></td>
      
        
      </tr>
 
  </tbody>
</table>