<h1>Delete Unsuccessful</h1>

<p>This Event is currently locked and cannot be deleted. Please unlock the event before attempting to make any changes</p>

<br>
<a href="/games_list">Back</a>
<br>
<a href="/">Home</a>