<h1>Add Game</h1>

<form action="/add_game" method="post">

    <label for="game_name"><sub><i>Game Name:</i></sub></label><br>
    <input type="text" name="game_name">
    <br><br>
    <input type="submit">

</form>

<br><br>

<a href="/games_list">Game List</a><br>
<a href="/">Back</a>

