<h1>Add Game</h1>

<p>This form can be used to add a game event to the tournament:</p>

<form action="/add_game" method="post">

    <label for="game_name"><sub><i>Game Name:</i></sub></label>
    <input type="text" name="game_name">
    <input type="submit">

</form>
<br>
<br>
<a href="/games_list">Game List</a>
<br>
<a href="/">Back</a>

