<h1>Gamers Entered</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Gamer ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Squad Name</th>
    </tr>
  </thead>



</table>
<br>
<br>
<a href="/">Home</a>