<h1>Add Gamer</h1>

<p>This form can be used to add a gamer to the tournament:</p>

<form action="/add_gamer">

    <label for="last_name"><sub><i>Last Name:</i></sub></label>
    <input type="text" name="last_name">
    <label for="first_name"><sub><i>First Name:</i></sub></label>
    <input type="text" name="first_name">
    <br>
    <label for="squad_id"><sub><i>Squad ID:</i></sub></label>
    <input type="integer" name="squad_id">
    <br>
    <br>
    <input type="submit">
</form>
<br>
<br>
<a href="/">Back</a>

